.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  padding: 0;
  overflow:auto;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*background-color: #273542;*/
  /*background-color: #0083ca;*/
  /* border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Loader CSS Starts */

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

/* Loader Spinner Ends */

/* Welcome page CSS starts*/
.panel {
  background-color: rgba(255, 255, 255, 0.9);
}
.margin-base-vertical {
  margin: 40px 0;
}
.main-container{
  padding-top: 7%;
}
/* Welcome page CSS Ends */



[ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
                display: none !important;
              }


.submenu:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}

.submenu > a:hover{
  background-color: #666666 !important;
  color: #FFFFFF !important;
}

.wrapper {
  min-height: 90%;
  height: auto;
}

/* Set the fixed height of the footer here */
.footer {
  background:url('/images/bg.jpg');
  color: #FFFFFF;
  min-height: 10%;
}

.mainheader {
  /*background-color:#273542 !important;*/
  background-color:#0083ca !important;
  color: #FFFFFF;
  border: 0px !important;
  border-radius: 0 !important;
  border-bottom:1px solid #e7e7e7 !important;
}

.loginUsername >a,
.loginUsername >a:focus,
.loginUsername >a:hover{
  /*background-color: #273542 !important;*/
  background-color: #0083ca !important;
  color: #FFFFFF !important;
  /*border-color: #273542 !important;*/
  border-color: #0083ca !important;
}

.loginUsername > .dropdown-menu {
  width: 100%;
  min-width: 0px !important;
}

.loginUsername > .dropdown-menu ,
.loginUsername > .dropdown-menu >li{
  padding: 0;
  line-height: 2;
  cursor: pointer;
  text-align: center;
  /*background-color: #273542;*/
  background-color: #0083ca;
}

.loginForm {
  padding-top: 30px;
}
.messageInfo {
  margin-top: 10px;
}

.loginPageMargin {
  margin-top: 2%;
}

.canvasContainer > .chart-container> canvas{
  height: 350px !important;
  width: 100% !important;
}

.flipped, .flipped >.content{
  -ms-transform:rotateX(180deg); /* IE 9 */
  transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.runnerUsageButton{
  margin-left: 15px;
}

.apptList {
  position: relative;
  left: 1%;
  overflow-x: auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.apptStatsDetails {
  color: #000000;
  text-decoration: none;
}



.adminLoginFormLoginHeading{
  color: #7E7E7E;
  font: bold 25px Helvetica, Arial, sans-serif;
  margin: 10px 0 0px;
}

.adminLoginFormPanel{
  width:63%;
  margin:0px auto;
  box-shadow: 0 0 10px #F0F2F2;
  margin-top:20%;
}
.adminLoginFormInputBox{
  height: 45px;
}


.imagePanel{

  background: linear-gradient(
    rgba(26, 26, 26, 0.8),
    rgba(26, 26, 26, 0.8)
  ),url('/images/serviceBike.jpg') no-repeat center center;
  height: 420px;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  background-size: 100% 100%;
}
.imagePanelHeading{
  font-size: 34px;
  font-weight: bold;
  padding-top:160px;
  color: white;
}
.infoPanel{
  height:215px;
}
.footerLogo{
  height:30px;
  width:60px;
}
.footer{
  background-color: #212121;

  text-align: center;
  width: 100%;
}

.circularBase{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  margin:20px auto 20px;
  font-size: 25px;
}
.adminPanel{
  color: #8a6d3b;
  font-size: 20px;
}
.partnerPanel{
  font-size: 20px;
  color: #1B5E20;
}
.dealerPanel{
  font-size: 20px;
  color: #00B0FF;
}
.adminPanelBorder{
  border:1px solid #8a6d3b;
}
.partnerPanelBorder{
  border:1px solid #1B5E20;
}
.dealerPanelBorder{
  border:1px solid #00B0FF;
}

.dealerLoginIcon{
  color:#00B0FF;
}
.adminLoginIcon{
  color: #8a6d3b;
}
.partnerLoginIcon{
  color:  #1B5E20;
}

.cityBoxDashBorad{
  background-color:#9fbfdf;
  float: left;
  text-transform: uppercase;
  text-align: center;
  margin:10px;
  padding: 10px;
}


.paddingBetweenCols {
  padding:10px 20px 0 20px;
  border: 1px solid #EEEEEE;
  width: 25%;
}
.customerInfoPanel{
  margin-bottom: 20px;
}


.loader{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15%;
  width: 50%;
  margin: -12% 0 0 -27%;
  z-index: 999;
  color:#0083ca;
}
.glyphicon-refresh-animate {
  animation: spin 3s infinite linear;
  -webkit-animation: spin 3s infinite linear;
  font-size: 60px;
}@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg);}
   to { -webkit-transform: rotate(360deg);}
 }@keyframes spin {
    from { transform:  rotate(0deg);}
    to { transform:  rotate(360deg);}
  }


.cancelledAppointment {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff0000;
  border: 3px solid  #ff0000;
  width: 77px;
  padding: 5px 3px;
  top: 40px;
  position: absolute;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}

.deliveredBtn{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #388E3C;
  border: 3px solid  #388E3C;
  width: 77px;
  padding: 5px 3px;
  top: 40px;
  position: absolute;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}

.customerInfoPanel .panel{position: relative;}
@media only screen and (max-width: 418px) {
  .deliveredBtn{
    top:57px!important;
  }
  .cancelledAppointment{
    top:57px!important;
  }
}
@media only screen and (max-width: 460px) {
  .newAppointmentIcon{
    top:57px!important;
  }
}
.glyphiconTagsIcon{
  font-size:25px;
  color: #337ab7;
  left:-9px;
  top:19px;
}

.inProgressIcon{
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-left: -14px;
  border: 4px solid black;
  border-radius: 4px;
  width: 84px;
  padding: 5px;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  background: linear-gradient(to right,orange, #ffff66
  ,orange);
}

.redRoundBtn{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border:1px solid rgba(255,0,0,1);
  background: rgba(255,0,0,1);
  margin-top:3px;
  background: -moz-linear-gradient(left, rgba(255, 0, 0, 0.3) 0%, rgba(255,0, 0, 0.9) 49%, rgba(255, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0.9) 49%, rgba(255, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(left, rgba(255, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0.9) 49%, rgba(255, 0,0, 0.3) 100%);
  background: -ms-linear-gradient(left, rgba(255, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0.9) 49%, rgba(255, 0, 0, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3) 0%, rgba(255, 0, 0,0.9) 49%, rgba(255, 0, 0, 0.3) 100%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0,1);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
  float: left;
  margin-right: 20px;
}

.greenRoundBtn{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border:1px solid rgba(22, 170, 9,1);
  background: rgba(22, 170, 9,1);
  float: left;
  margin-top:3px;
  margin-right: 20px;
  background: -moz-linear-gradient(left, rgba(29, 218, 11, 0.5) 0%, rgba(29, 218, 11, 0.9) 49%, rgba(29, 218, 11, 0.4) 100%);
  background: -webkit-linear-gradient(left, rgba(29, 218, 11, 0.5) 0%, rgba(29, 218, 11, 0.9) 49%, rgba(29, 218, 11, 0.4) 100%);
  background: -o-linear-gradient(left, rgba(29, 218, 11, 0.5) 0%, rgba(29, 218, 11, 0.9) 49%, rgba(29, 218, 11, 0.4) 100%);
  background: -ms-linear-gradient(left, rgba(29, 218, 11, 0.5) 0%, rgba(29, 218, 11, 0.9) 49%, rgba(29, 218, 11, 0.4) 100%);
  background: linear-gradient(to right, rgba(29, 218, 11, 0.5) 0%, rgba(29, 218, 11,0.9) 49%, rgba(29, 218, 11, 0.4) 100%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0,0.7);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
}


.viewMoreBtn{
  margin-top: 20px;
}


.bikeimageCol{
  margin: 10px 0px;
}
.bikeimageRow{
  border-bottom:1px solid #D3D3D3;
}
.bikeImage{
  height: 300px;
  width: 300px;
  background-image:url("/images/noimage.svg");
}

.runnerInfoPanel{
  margin-bottom: 20px;
}
.runnerConsoleBikeImage{
  height: 200px;
  width: 100%;
}
.runnerConsoleBikeImageCol{
  margin: 10px 0px 10px 0px;
}

.CityTablePaddingTop{
  padding-top:40px!important;
}


.lsCampaignFormPanel{
  padding: 20px;
  background-color: white;
}
.lsCampaignFormHeading{
  font-size:18px;
  color:white;
}
.lsCampaignHeader{
  padding: 10px 20px 10px 20px;
  background-color: #004466;
}
.lsCamaignHeaderLogo{
  height:60px;
  width:100px;
  float:right;
}
.lsCampaignHeaderUserPicture{
  height:60px;
  width:90px; float: left;
}
.inputBoxStyle{
  border-radius: 0;
}

.newAppointmentIcon{
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: 2px solid #e6f2ff;
  box-shadow: 1px 1px 1px 1px #D3D3D3;
  width: 80px;
  padding: 2px 3px;
  -webkit-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  background-color:#0080ff;
  position: absolute;
  top: 37px;
}



.adminDashboardlistGroupItem{
  word-break: break-word!important;
}
.serviceCenterDetailPanel{
  word-break: break-word!important;
}
@media screen and (min-width: 290px) and (max-width: 600px) {
  .scDetailAppointmentId{
    float: none!important;
    margin-left: 5px;
  }
  .runnerwiseAppointmentId{
    float: none!important;
    margin-left: 5px;
  }
  .custom-select{
    width: 80%!important;
    margin-bottom: 5px;
  }
}
.panelHeading {
  word-break:break-word;
  background-color: #535C69 !important;
  color: #FFFFFF !important;
}
.handCursor:hover {
  cursor: pointer;
}

.scDetailsJobCardTosFuelBox{
  width:29%!important;
}
.scDetailsJobCardTable{
  margin-top: 15px!important;
}
.scDetailsJobCardTableHeading{
  background-color: #eceeef !important;
}

.highlightAppointment {
  background-color: #d47070 !important;
}

.notifyStatus {
  color: #31708f;
}

.excelUploadOption {
  font-size: 18px;
  color: #31708f;
}

.adminDashboardSearchingBox{
  margin-bottom:10px;
  display: inline-block;
}
.adminDashboardSearchingBoxSC{
  float:right;
  margin-bottom: 10px;
}
@media only screen and (max-width: 799px){
  .adminDashboardSearchingBox{
    display: block;
  }
  .adminDashboardSearchingBox .form-group{
    display: inline-block;
    width: auto;
  }
  .adminDashboardDropDown {
    width: 100%;
  }
}


.dealerRegXLFileInput{
  display:inline-block!important;
  font-size:16px;
  width:220px;
}

.dealerRegXLHelpBtn:focus{
  outline: none!important;
}

.excelModalMandatoryTextColor{
  color:#842c2c;
}
.excelModalNonMandatoryTextColor{
  color: #5b6322;
}

.adminDashboardLsPriceChartRow {
  margin: 10px 0px;
}

.partnerRegistrationFormPanel {
  margin-left: 15px;
  margin-right: 15px;
}

.form-group.scDetailsSearchText{
  margin-bottom: 3px;
}

.form-group.dealerViewSearchText {
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

div.customerInfoPanel table{
  width: 100%;
}

div.runnerInfoPanel table{
  width: 100%;
}

.paddingBetweenImgCols {

  padding :0px 15px 0 15px;

  width : 33.33%;

}

.paddingBetweenImgCols img{

  max-height : 230px!important;

  width : 100%;

  margin-top: 5px;

}

.partnerViewInAdminImagePanel {

  margin-top:15px;

  border : 1px solid #D3D3D3;

}

.teleCallingFormPanel .form-title
{
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.teleCallingForm
{
  width: 250px;
  margin: 0 auto;
}

.teleCallingForm.login input[type="text"], .teleCallingForm.login input[type="password"]
{
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
}

.teleCallingForm.login input[type="submit"]
{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

.teleCallingForm.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}


@media only screen and (max-width: 470px) {
  .infoPanel .teleCallerPanel {
    word-break: break-all;
  }
}

.teleCallerPanel {
  font-size: 20px;
  color: #d05b35;
}

.teleCallerPanelBorder {
  border:1px solid #d05b35;
}

.teleCallerIcon {
  color: #d05b35;
}

.teleCallingPanelTitle {
  font-size: 38px;
  font-weight: bolder;
  color: #FEE42B;
}

.teleCallingForm.login ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color :  #CCCCB3;
}
.teleCallingForm.login :-moz-placeholder { /* Firefox 18- */
  color :  #CCCCB3;
}.teleCallingForm.login ::-moz-placeholder {  /* Firefox 19+ */
   color :  #CCCCB3;
 }

.teleCallingSelectStatusDisplay {
  padding: 12px 0px 0px 0px;
}

.teleCallerDashboardModalHeader {
  background-color: #0083ca;
  color: white;
}

/*#teleCallerDashboardModalBtn {
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 0px 30px 0px 30px;
  border-radius: 15px;
  outline: none;
}*/

.teleCallingDashBoardRadio-custom {
  position: absolute;
  opacity: 0;
}

.teleCallingDashBoardRadio-custom-label {
  cursor: pointer;
  line-height: 2.5;
  font-weight: normal;
  margin-right: 20px;
}

.teleCallingDashBoardRadio-custom + span:before {
  content: '';
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.215em solid #fff;
  box-shadow: 0 0 0 0.15em #d3d3d3;
  margin-right: 10px;
}

.teleCallingDashBoardRadio-custom:checked + span:before {
  background: #7AA3CC;
  box-shadow: 0 0 0 0.18em #7AA3CC;
}

.teleCallerHighLightedCustomerInfoPanel{
  box-shadow: 3px 3px 10px #666 !important;
  border: 3px solid #2FC7F7 !important;
}

.teleCallingDashBoardCallLaterIcon{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 2px solid #e6f2ff;
  box-shadow: 1px 1px 1px 1px #D3D3D3;
  padding: 6px 7px;
  background-color:#0080ff;
  position: absolute;
  margin-left: -16px;
  top: -24px;
  -webkit-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
}

.dealerViewXlUploadPanel {
  margin-top: 20px;
}
.teleCallingXlFileInput{
  display:inline-block!important;
  font-size:16px;
  width:220px;
}

.teleCallingXLHelpBtn:focus{
  outline: none!important;
}

.teleCallingFormPanel {
  background : rgba(0, 0, 0, 0.5);
  padding : 3px 0px 15px;
  width : 300px;
  margin : 5px auto;
  box-shadow : 0 0 15px #666;
  border-radius : 5px;
}

.manageProductInventoryModalHeader {
  background-color: #25A3CB;
  color: white;
}

.manageProductInventoryModalBtn {
  margin-left: 15px;
  background-color: #25A3CB;
  color: white;
}

@media only screen and (max-width:550px) {
  .teleCallingAdminDataSubmitBtn {
    width: 34% !important;
  }
}

.runnerLocationDetailHeading {
  font-size:24px;
  margin-bottom: 10px;
}

.runnerLocationDetailCityDropDown {
  width:65% !important;
  display:inline-block !important;
}

.lsTcCampaignHeaderImg {
  height:80px;
  width:120px;
}

.lsTcCampaignDealername{
  padding:23px 5px;
  display: inline-block;
  font-size: 19px;
}

.call-round-button {
  display:block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.call-round-button:hover {
  background: #262626;
  cursor: hand;
  cursor: pointer;
  text-decoration: none;
}

.adminDashboardCityInfoCards {
  padding:0px !important;
}
.adminDashboardCityInfoCards .col-sm-4 {
  background:#f0f0f0;
  border:1px solid #d3d3d3;
  margin-top:10px;
}
.adminDashboardCityHeading {
  margin:0px -15px 2px;
  padding:5px 0px;
  color: white;
}
@media screen and (min-width: 768px ) {
  .adminDashboardCityInfoCards .col-sm-4{
    margin-right: 1%;
    width: 32%;
  }
  .adminDashboardCityInfoCards {
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
}


.amberColor {
  background-color: #CCCC00 !important;
}
.needAttentionColor {
  background-color: #FF8080 !important;
}
.noAttentionColor {
  background-color: #228B22 !important;
}
.needAttentionPreviousDayColor {
  background-color: #79aad4 !important;
}

.trackAppointmentColorCodingBox {
  height:20px;
  width:20px;
  display:inline-block;
  margin-right: 6px;
}
.trackAppointmentColorCodingText {
  vertical-align:top;
}
.trackAppointmentColorCoding{
  display: inline-block;
  margin: 10px;
}

.trackAppointmentColorCode1 {
  background: #228B22;
}
.trackAppointmentColorCode2 {
  background: #CCCC00;
}
.trackAppointmentColorCode3 {
  background: #FF8080;
}
.availableRunner {
  background: #33b194;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}

.tcadmin-large {
  font-size: 2em;
}
.tcadmin-text {
  color: #9fadbb;
}
.tcadmin-no-padding {
  padding: 0; margin: 0;
}
/*Panels*/
.tcadmin-panel {
  border: 0;
}
.tcadmin-panel-widget {
  padding: 0;
  position: relative;
}
.tcadmin-panel-widget-left {
  height: 100px;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tcadmin-panel-widget-right {
  text-align: left;
  line-height: 1.6em;
  margin: 0px;
  padding: 20px;
  height: 100px;
  color: #999;
  font-weight: 300;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tcadmin-panel-widget-right .tcadmin-text{
  color:  #000066;
}
.tcadmin-panel-widget-right .tcadmin-large {
  color: #5f6468;
}
.tcadmin-panel-blue .tcadmin-panel-widget-left { background: #30a5ff; color: #fff; }
.tcadmin-panel-teal .tcadmin-panel-widget-left { background: #1ebfae; color: #fff; }
.tcadmin-panel-orange .tcadmin-panel-widget-left { background: #ffb53e; color: #fff;}
.tcadmin-panel-dataReceived .tcadmin-panel-widget-left { background: #50942d; color: #fff; }
.tcadmin-panel-callLater .tcadmin-panel-widget-left { background: #31708f; color: #fff; }
.tcadmin-panel-notInterested .tcadmin-panel-widget-left { background: #d4d4d4; color: #fff; }
.tcadmin-container{
  width:90%
}
.tcadmin-glyphicon{
  font-size: 42px;
}

.tcAdminRow{
  margin-left: -13px;
}

.amcCustomer {
  background-color: #FFFFB3;
}

.tcConvertedAppointment {
  background-color: #aeaeae;
  color: #FFFFFF;
}

.crmCustomer {
  background-color: #70d4d4;
}

.weather_outerPanel{
  background-color: #0083ca;border-radius: 10px 10px 0 0;
}
.weather_innerMainPanel{
  margin:5%;background-color: #f4f4f4;
}
#weather_innerPanelHeader{
  background-color: #273542;font-size: 18px;color: white; border-radius: 10px 10px 0 0;
}
.weather_DscStyle{
  margin-top:-8%;margin-left: 27%;
}
#weather_DscHeader{
  background-color: #0083ca;color:white;
}
#weather_modal{
  border-radius: 11px 11px 0 0;
}
.weather_modal_body{
  margin-top:-4%;
}
.weather_city_style{
  font-size: 20px;
}
#weather_panel_body{
  border-radius: 11px 11px 0 0;
}


.amcLeaderBoardTextStyle{
  color:#464748;
}
.amcLeaderBoardHighlightTextStyle{
  color:#464748;
}
.amcLeaderBoard_panel_body{
  border-radius: 11px 11px 0 0;
}
.amcLeaderBoard_Header1{
  background-color: #02AABF;color:white;
}
#amcLeaderBoard_Header2{
  background-color: #02AABF;color:white;
}
.amcLeaderBoardInfoLablePadding{
  margin-left:-17%;
}
.amcLeaderBoardHeaderTextStyle{
  color:#4DACBD;
  font-size: 23px;
}
.amcLeaderBoardHighlightHeaderTextStyle{
  color:#464748;
  font-size: 27px;
}
.amcLeaderBoardHeaderImageStyle{
  margin-top: -5%;
}
.amcLeaderBoardHighlight {
  background-color: #02AABF;
  color: #FFFFFF;
}


/*NEW CRM CSS */
.crmInput
{
  border: 0;
  border-bottom: 0.5px solid lightgrey;
  outline: 0;
  text-indent: 10px;
}
.crmInput:focus + span.crmInputIcon {
  color:#0083ca;
}
/*
body{
  background: linear-gradient(rgb(230, 247, 242), white);
}*/
.inner-addon .glyphicon {
  /*padding-top: 10px;*/
  pointer-events: none;
  color: lightgrey;
  font-size: 18px;
}
.left-addon .glyphicon  { left:20px;float:left;}


#loginButton,
#loginButton:hover,
#loginButton:active,
#loginButton:visited,
#loginButton:focus{
  outline: 0;
  background-color: #0083ca;
  color:#FFFFFF;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}
.crmLogoStyle{
  padding:10px 10px 10px 30px;
}
.crmContactLable{
  color:lightgrey;font-size: 17px;padding:10px 30px 10px 10px;float:right;
}
#crmPanel{
  border :1px solid  #0083ca; padding:30px 30px 10px 30px;border-radius: 15px;
}
.crmLoginformHeader{
  color:grey;font-style: normal;font-weight: 550;
}
.crmFormStyle{
  margin-top:-7%;padding:10px 10px 10px 10px;
}

/*New Dashboard Css*/

.crmDashboardFilterPanel{
  padding: 16px 10px 16px 10px;border-bottom: 6px solid #7a7a52;/*margin: 0px 2px 10px 2px;*/ box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.dashboardStatusPanel{
  border-left: 6px solid #e200a8;cursor: pointer; padding: 5px 80px 5px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.dashboardStatusPanel2{
  border-left: 6px solid #a31fbf;cursor: pointer; padding: 5px 80px 5px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.dashboardStatusPanel3{
  border-left: 6px solid #ff5a3e;cursor: pointer; padding: 5px 80px 20px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}

.dashboardStatusPanelAdmin{
  cursor: pointer;border-left: 6px solid #e200a8; padding: 30px 45px 30px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.dashboardStatusPanelAdmin2{
  cursor: pointer;border-left: 6px solid #a31fbf; padding: 30px 70px 30px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.dashboardStatusPanelAdmin3{
  cursor: pointer; border-left: 6px solid #ff5a3e; padding: 30px 65px 30px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.crmDashboardApptStyle{
  margin: 0px 2px 10px 2px; box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}

.crmDashboardSMSStyle{
  margin: 0px 100px 10px 100px; box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}

#filterButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 2px 30px 2px 30px;
  border-radius: 15px;
  outline: 0;
  margin-top: 20px;
  border:none !important;
}
.tableViewButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  /* padding: 0px 30px 0px 30px;*/
  border-radius: 15px;
  outline: none;
}/*
.crmDashboardFilterPanelBorder{
  border:0;
  font-size: 12px;
  color:grey;
  outline: 0;
}*/
#apptMainHeader{
  background-color: #0083ca;font-size: 18px;color: white;
}
#apptHeader1{
  background-color: #707275;font-size: 18px;color: white;
}
#apptHeader2{
  background-color: #707275;font-size: 18px;color: white;
}

.ui-grid-top-panel {
  background: #0083ca;
  color:white;
  font-weight: normal;
}
.ui-grid-header {outline: 0; padding: 5px 0px 10px 0px; background-color: #0083ca;text-align: center;border-color:white;}
input[type="text"].ui-grid-filter-input {background-color: #FFFFFF; border-radius: 20px;outline: 0;color:#0083ca;text-indent: 10px;}

.ui-grid-cell :hover {
 overflow: visible;
/* overflow-x:auto;*/
/* width:100%;*/
}

.ui-grid-row:nth-child(even) .ui-grid-cell {white-space: nowrap; 
    width: 100px; 
    overflow: hidden;background-color:#FFFFFF ;text-align: center;border-color:lightgrey;height: 55px;border-left:none;padding:10px 10px 10px 10px;}
.ui-grid-row:nth-child(odd) .ui-grid-cell {white-space: nowrap; 
    width: 100px; 
    overflow: hidden;background-color:#FFFFFF ;text-align: center;border-color:lightgrey;height: 55px;border-left:none;padding:10px 10px 10px 10px;}
.icon {
  padding: 10px 10px 10px 10px;
  margin-top: 20%;
  margin-left: 5%;
  /* border-radius: 50%;*/
  float: left;
  width: 50px;
  height: 50px;
  line-height: 0px;
  text-align: center;
}
.adminStatsSpacing{
  padding-left:25px;
}

.adminStatsSpacing2{
  padding-left:20px;
}
.iconImg{
  padding: 10px 10px 10px 10px;
  margin-top: -7%;
  margin-left: 15%;
  /* border-radius: 50%;*/
  float: left;
  width: 50px;
  height: 50px;
  line-height: 0px;
  text-align: center;
}
.number {
  /*font-weight: bold;*/
  font-size: 28px;
  height:3px;
}
.status {
  font-size: 12px;
  color: #a6a6a6;
}
.dashboardButton {
  border-radius: 15px;
  background-color: #e200a8;
  color:#ffffff;
  border: none;
  outline: 0;
}
.dashboardButton2 {
  border-radius: 15px;
  background-color: #a31fbf;
  color:#ffffff;
  border: none;
  outline: 0;
}
.dashboardButtonForFeedback {
  border-radius: 15px;
  background-color: #a31fbf;
  color:#ffffff;
  padding:0 15px 0 15px;
  border: none;
  outline: 0;
}
/*.selected {
  color: white;
  background:#a31fbf;
}*/
.dashboardButton3 {
  border-radius: 15px;
  background-color: #ff5a3e;
  color:#ffffff;
  border: none;
  outline: 0;
}

.apptDetailTextHeader{
  color:#0083ca;
  font-weight:bold;
}
.apptDetailTextStyle{
  color:grey;
}
.apptDetailTextHeaderStyle{
  color:black;
}
#callButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  /* margin-top: 3%;*/
  border:none !important;
  outline: 0;
}
.dashboardStatusGraphPanel{
  padding: 16px 80px 16px 10px;box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
#tcDashboardGlobalSearch-form {
  margin:0;
  margin-top: 5px;
  /* padding: 0;*/
  color:#0083ca;
  padding: 9px 0px 0px 0px;
}

.tcDashbordGlobalSearch{
  border:none;border-radius:15px;font-size:13px;width:170px;padding:3px 10px 3px 10px;outline:0;margin-top:0;color:grey;
}
#tcDashboardGlobalSearch-form button {
  background: none;
  /*padding: 2px 5px;*/
  margin-top: -2%;
  position: relative;
  left: -40px;
  border:none;
  outline:0;
}

#teleCallerDashboardModalBtn{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 0px 30px 0px 30px;
  border-radius: 15px;
  outline: none;
  margin-top: 20px;
}

.createCallerInputPadding{
  padding-bottom:10px;
}

span.validationMsg {
  color : maroon;
  padding-left: 10%;
}


/*create tc page css*/
.teleCallingUpdateStatusInputStyle{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
  border:1px solid #0083ca ;
}
.input-group-addon.tcInput {
  border:0 solid transparent;
  background:transparent;
  color: #009edf;
  font-size: 17px;
}
.tcCreateFormPanel{
  /* margin: 0px 2px 10px 2px; */box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.tcCreatePanelSubHeader{
  color:#0083ca;
  font-size:18px;
}
.tcCreatePanelSpacing{
  padding:20px 20px 30px 10px;
}
#tcCreateBtn{
  padding: 2px 60px 2px 60px;
  border-radius:15px;
  margin-right:-3%;
}
.form-control-placeholder-tcInput {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  pointer-events: none;
  color: #aaa;
  transition: all 200ms;
}

.form-control:focus + .form-control-placeholder-tcInput{
  color: grey;
  font-size: 75%;
  top: -25px;
}
.validationMsg {
  color : maroon;
  padding-left: 10%;
}

.form-control.crmDashboardFilterPanelBorder{
  border:0;
  font-size: 12px;
  color:grey;
  outline:0;
}
.form-control.teleCallingUpdateStatusInputStyle{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
  border:1px solid #0083ca ;
}
.btn.teleCallerDashboardModalBtn,
.btn.teleCallerDashboardModalBtn:hover,
.btn.teleCallerDashboardModalBtn:active,
.btn.teleCallerDashboardModalBtn:visited,
.btn.teleCallerDashboardModalBtn:focus{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 0px 30px 0px 30px;
  border-radius: 15px;
  outline: none;
  margin-top:3%;
}

/*

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #8a0e0b;
  background-color: yellow;
}
.li a:focus{
  color:red;background-color: #0083ca;
}
.navbar-nav> li:hover{
  background-color: #f90;
}
*/
#menuActiveClass{
  color:white;background-color: #0083ca;
}

#menuActiveClass:focus{
  background-color: #006da8;
}

#menuNonActiveClass{
  color:white;background-color: #0083ca;
}
#menuNonActiveClass:focus{
  background-color: #006da8;
}
#menuNonActiveClass1{
  color:white;background-color: #0083ca;
}
#menuNonActiveClass1:focus{
  background-color: #006da8;
}
#menuNonActiveClass1:hover{
  background-color: #006da8;
}

#menuNonActiveClassForCaller{
  color:white;background-color: #0083ca;
}


.li a:active {
  background-color: yellow;
}

.head {
  height: 3px;
  margin-left: 20px;
}
.paragraph {
  font-size: 12px;
  color: grey;
  margin-left: 20px;
}
#column1 {
  border-left: 6px solid #e600ac;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
#column2 {
  border-left: 6px solid #ac00e6;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
#column3 {
  border-left: 6px solid #ff3300;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
#column4 {
  border-left: 6px solid #e600ac;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
#column5 {
  border-left: 6px solid #ac00e6;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
.crmSMSStatsRowPanel{
  /*padding-bottom: 10px;
  padding-right:100px;*/
  padding:10px 100px 10px 100px;
}
.teleCallerManageInput{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}
.manageCallerTable,th{
  text-align: center;
  padding:10px 10px 10px 10px;
  /*border: none !important;*/
}
.manageCallerTableStyle{
  margin: 0px 2px 10px 2px;border: none !important; box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
}
.admindDashboardPanelSpacing{
  padding:0 0 0 20px;
}

#adminExportButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 2px 16px 2px 16px;
  border-radius: 15px;
  outline: none;
  margin-top: 15px;
  outline: 0;
  border:none;
}

.adminCanvassGgaphAlign{
  margin-left:15px;
  cursor: pointer;
}
.adminPickAndWalkinGraphAlign{
  margin-left:30px;
}
.adminGraphLableStyle{
  color:grey;
  padding:0 0 15px 40px;
  text-align: center;

}
.callerDashboardStatsLableStyle{
  color:grey;
  text-align: center;

}
#assignActDeactButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 3px 30px 3px 30px;
  border-radius: 15px;
  outline: 0;
  border:none !important;
}

.input-group-addon.forgotPwdInput {
  border:0 solid transparent;
  background:transparent;
  color: #009edf;
  font-size: 17px;
}
/*.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spinWebkit .7s infinite linear;
  -moz-animation: spinMoz .7s infinite linear;
}*/

@-webkit-keyframes spinWebkit {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.trackAppointmentColorCoding{
  display: inline-block;
  margin: 10px;
}

.trackAppointmentColorCodingBox {
  height:20px;
  width:20px;
  display:inline-block;
  margin-right: 6px;
}

.trackAppointmentColorCodingText {
  vertical-align:top;
}

.trackAppointmentColorCode1 {
  background: #FF0000;
}
.trackAppointmentColorCode2 {
  background: #008000;
}

.countStyle {
  height: 3px;
  margin-left: 20px;
}
.feedbackLable {
  font-size: 12px;
  color: grey;
  margin-left: 20px;
  padding:0 0 2px 0;
  font-weight: bold;
}
#feedbckSpacing {
  border-left: 6px solid #e600ac;
  box-shadow:1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219)
}
.crmFeedbackRowPanel{
  cursor: pointer;
}

.feedbackAddBtn{
  outline: none;
}



.notification_num {
  position: absolute;
  top:7px;
  display: inline-block;
  left: 30px;
  color: #fff;
  background: lightseagreen;
  padding: 1px 5px 1px 5px;
  border-radius: 12px;
  /* border:2px solid white;*/
}
/*
.active_class.noti-active {
  background: #005CA9 !important;
  color: #fff !important;
}

.active_class.noti-active span {
  color: #fff !important;
}
.notification {
  display: inline-block;
  position: relative;
  padding: 0.6em;
  background: #3498db;
  border-radius: 0.2em;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/

#salesFeedBackBtn {
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 2px 30px 2px 30px;
  border-radius: 15px;
  outline: 0;
  margin-top: 3px;
  border:none !important;
}
/*Call recording explicit download option css*/
.download{
 height: 25px;
 width: 25px;
 position: relative;
 top: -5px;
 left:0px;
}
.navbar.solid {
 background-color: red;
 transition: background-color 1s ease 0s;
}