<style>
.Lets-Service-Vector-Logo {
  width: 90%;
  height: 140.7px;
  margin-top:-30%;
  margin-left: 30%;
  /*object-fit: contain;*/
}
.IndiaMap {
  width: 100%;
  /*object-fit: contain;*/
  margin-top:-5%;
}
.MainHeaderofLets-Service {
  /*width: 223px;
  height: 50px;*/
  margin-top:-2%;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: #00283e;
}
.ContentofLetsService {
  font-size: 14px;
  text-align: left;
  color: #acacac;
  padding-right: 12%;
  margin-left: 5%;
  /*padding-left: 20px;*/
}
.HeaderofLets-Service {
  font-size: 20px;
  margin-left: 5%;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  color: #00283e;
}
.HeaderofLets-Service1{
  font-size: 20px;
  margin-left: 5%;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  color: #00283e;
}
.BlueBoxofLetsService {
  width: 95%;
  /*height: 93.4%;*/
  margin-left: 10%;
  background-color: #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.ContentofLetsServiceBlueBox {
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  padding: 4% 8% 5% 8%
}

/*Css of Page 2*/
.website-images {
  width: 95%;
  margin-left: 5%;
  object-fit: contain;
  margin-top: -4%;
}
.website-imagesLeftFourth {
  width: 95%;
  object-fit: contain;
  margin-top: 15%;
}
.website-imagesRightFifth {
  width: 95%;
  margin-left: 5%;
  object-fit: contain;
  margin-top: 15%;
}
.RectangleSkyBlue {
  width: 95%;
  margin-left: 10%;
  margin-top: -10px;
  background-color: #2397d6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleSkyBlueFourth {
  width: 95%;
  margin-left: 5%;
  margin-left: 10%;
  margin-top: -10px;
  background-color: #2397d6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleBlue {
  width: 90%;
  margin-right: 10%;
  background-color: #005380;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleBlue1 {
  width: 90%;
  margin-right: 10%;
  margin-top: -10px;
  background-color: #005380;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleBlueFifth {
  width: 90%;
  /*height: 510.9px;*/
  margin-right: 10%;
  margin-top: -10px;
  background-color: #005380;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.HeaderofContents {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.website-icons {
  width: 30.8px;
  height: 30.8px;
  object-fit: contain;
}
.ContentsofOurOfferings {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 6% 4% 10% 8%;
}
/*Page3*/
.RectangleofCaseStudies {
  width: 45%;
  margin-left: 5%;
  background-color: #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.ContentofCaseStudies {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  padding: 10px;
}
.contentofNumberofPride {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #004970;
  padding: 10px 10px 10px 10px;
}
.RectangleofNumberofPride {
  height: 200px;
  margin-left: 20%;
  margin-top: 15%;
  border: 2px solid #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleofNumberofPride1 {
  width: 80%;
  height: 200px;
  margin-left: 8%;
  border: 2px solid #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleofNumberofPride2 {
  width: 80%;
  height: 200px;
  margin-left: -3%;
  border: 2px solid #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.RectangleofNumberofPride3 {
  width: 80%;
  height: 200px;
  margin-right: 45%;
  border: 2px solid #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.ContentofNumberofPride {
  font-size: 14px;
  text-align: center;
  color: #004970;
  padding-left: 1%;
  padding-right: 1%;
}
.RectangleofContact {
  width: 90%;
  background-color: #1892d4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.ContentofContact {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 2%;
}
.numbers-icon {
  width: 104.8px;
  height: 107.5px;
  object-fit: contain;
  margin-top:-20px;
}
</style>

<div class="container-fluid">
<!-- Page 1 -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
             <img src="images/Lets Service Vector Logo-01.svg" class="Lets-Service-Vector-Logo">
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <h4 class="MainHeaderofLets-Service">Let's Service</h4>
               <p class="" style="font-size: 20px; color: #acacac;">Automotive Technologies Private Limited </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="HeaderofLets-Service" style="margin-left: 10%;">About Let's Service</p>
            <p class="ContentofLetsService" style="margin-left: 10%; font-weight: 600;">Let's Service is India's Largest Automobile Service Logistics and Dealership SaaS company.<br><br>
            Let's Service works with OEMs and their dealer network to implement technology innovations that can deliver convenience and predictability to the vehicle owners and higher Revenue & Margins to the Dealer Principals</p><br>

            <p class="ContentofLetsServiceBlueBox BlueBoxofLetsService"><b>The future of Automobile Dealerships is digital</b><br>
            <span style="font-weight: 300;">Let's Embrace It Together</span></p>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/IndiaMap.svg" class="IndiaMap" style="height: 450px;">
    </div>
  </div>
  <!-- Page1 end -->
  
 
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
       <p class="HeaderofLets-Service1" style="margin-left: 5%;">Our Offerings</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/website_images1.svg" class="website-images" style="height:320px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 responsive">
        <p class="RectangleBlue ContentsofOurOfferings"><span class="HeaderofContents">Let's Connect - Service Centre CRM</span><br>

        <img src="images/website icons final one for brochure-12.svg"
     class="website-icons">
        <span>Digitize Tele-calling Unit</span><br>
                      
        <img src="images/website icons final one for brochure-06.svg"
     class="website-icons">
        <span>Enable Call-recording</span><br>
                         
        <img src="images/website icons final one for brochure-08.svg"
     class="website-icons">
        <span>Access Simple and Intuitive User Flow</span><br>
                        
        <img src="images/website icons final one for brochure-10.svg"
     class="website-icons">
        <span>Apply Smart Rules and Algorithms</span><br>
                       
        <img src="images/website icons final one for brochure-09.svg"
     class="website-icons">
        <span>Get Analytics, Reports and Insights</span><br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 responsive">
        <p class="RectangleSkyBlue ContentsofOurOfferings"><span class="HeaderofContents">Let's Assist - Pick-up and Drop Management Platform</span><br>

        <img src="images/website icons final one for brochure-12.svg"
     class="website-icons">
        <span>Setup Pick-up and Drop Feature</span><br>
                      
        <img src="images/website icons final one for brochure-05.svg"
     class="website-icons">
        <span>Enable Online Payment</span><br>
                         
        <img src="images/website icons final one for brochure-04.svg"
     class="website-icons">
        <span>Digitize Customer Engagement</span><br>
                       
        <img src="images/website icons final one for brochure-22.svg"
     class="website-icons">
        <span>Manage Customer Feedback</span><br>

        <img src="images/website icons final one for brochure-02.svg"
     class="website-icons">
        <span>Increase Vehicle Inflow</span><br>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/website_images2.png" class="" style="height:300px; margin-left: 50px;">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/website_images3.png" class="website-images" style="height:330px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 responsive" align="left">
        <p style="font-size:32;" class="RectangleBlue1 ContentsofOurOfferings"><span class="HeaderofContents">Let's Digital - Website and App Management Platform</span><br>

        <img src="images/website icons final one for brochure-12.svg"
     class="website-icons">
        <span>Host App and Website</span><br>
                      
        <img src="images/website icons final one for brochure-13.svg"
     class="website-icons">
        <span>Enjoy In-built SEO</span><br>
                         
        <img src="images/website icons final one for brochure-15.svg"
     class="website-icons">
        <span>Plug Trending Features</span><br>
                        
        <img src="images/website icons final one for brochure-14.svg"
     class="website-icons">
        <span>Pay Reasonably</span><br>
    </div>
  </div>


<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 responsive" align="left">
        <p class="RectangleSkyBlueFourth ContentsofOurOfferings"><span class="HeaderofContents">Let's EasyQ - Service Centre Queue Management System</span><br>

        <img src="images/website icons final one for brochure-12.svg"
     class="website-icons">
        <span>Setup Queue Management Feature</span><br>
                      
        <img src="images/website icons final one for brochure-17.svg"
     class="website-icons">
        <span>Digitize Token System</span><br>
                         
        <img src="images/website icons final one for brochure-18.svg"
     class="website-icons">
        <span>Enable E - Job Card</span><br>
                       
        <img src="images/website icons final one for brochure-19.svg"
     class="website-icons">
        <span>View Job-wise Mechanic Boards</span><br>

        <img src="images/website icons final one for brochure-20.svg"
     class="website-icons">
        <span>Get Real-time Service Status</span><br>

        <img src="images/website icons final one for brochure-05.svg"
     class="website-icons">
        <span>Enable Online Payment</span><br>

        <img src="images/website icons final one for brochure-22.svg"
     class="website-icons">
        <span>Manage Customer Feedback</span><br>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/website_images4.svg" class="website-imagesLeftFourth" style="height:400px; margin-top: 10px;">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="images/sales crm image-01.png" class="website-imagesRightFifth" style="height:300px; margin-top: 10px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 responsive" align="left">
        <p style="font-size:32;" class="RectangleBlueFifth ContentsofOurOfferings"><span class="HeaderofContents">Let's Lead - Dealership Sales CRM</span><br>

        <img src="images/website icons final one for brochure-12.svg"
     class="website-icons">
        <span>Easy Setup</span><br>
                      
        <img src="images/website icons final one for brochure-08.svg"
     class="website-icons">
        <span>Simple and Intuitive Workflow</span><br>

        <img src="images/website icons final one for brochure-10.svg"
     class="website-icons">
        <span>Smart Rules and Algorithms</span><br>

        <img src="images/website icons final one for brochure-36.svg"
     class="website-icons">
        <span>Follow each lead to closure</span><br>
                         
        <img src="images/website icons final one for brochure-37.svg"
     class="website-icons">
        <span>Invoicing and Delivery Tracking Modules</span><br>
                        
        <img src="images/website icons final one for brochure-09.svg"
     class="website-icons">
        <span>Get Reports, Analytics and Insights at your finger tips</span><br>
                       
        <img src="images/website icons final one for brochure-39.svg"
     class="website-icons">
        <span>Mobile App for all participants in the sales process</span><br>

        <img src="images/website icons final one for brochure-40.svg"
     class="website-icons">
        <span>Enriching Customer Experience for Vehicle Buyers.</span><br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" align="left">
      <h4 class="HeaderofLets-Service1">Let's Connect - Service Centre CRM</h4>
      <p class="ContentofLetsService" style="font-weight: 600; font-size: 15px;"> Case Studies</p>
      <p class="ContentofCaseStudies RectangleofCaseStudies">A Royal Enfield Dealer In Bangalore</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10"><br>
      <table class="table table-bordered">
        <tr style="background-color:#e4e4e4;" style="font-size:15px;font-weight: 700;">
          <th style="padding: 10px 10px;">Metrics</th>
          <th style="padding: 10px 10px;">Before Let's Connect</th>
          <th style="padding: 10px 10px;">After Let's Connect</th>
          <th style="padding: 10px 10px;">Increase in %</th>
        </tr>
        <tr style="font-size:14px;">
          <td style="padding: 10px 10px;color:gray;">Average Calls made per Day</td>
          <td style="padding: 10px 10px;">68</td>
          <td style="padding: 10px 10px;">108</td>
          <td style="padding: 10px 10px;color: #1892d4;">59%</td>
        </tr>
        <tr style="font-size:14px;">
          <td style="padding: 10px 10px;color:gray;">Average Monthly Conversions</td>
          <td style="padding: 10px 10px;">220</td>
          <td style="padding: 10px 10px;">450</td>
          <td style="padding: 10px 10px;color: #1892d4;">105%</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" align="left">
      <p class="ContentofCaseStudies RectangleofCaseStudies">A Honda Dealer In Mumbai</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10"><br>
      <table class="table table-bordered">
        <tr style="background-color:#e4e4e4;" style="font-size:15px;font-weight: 700;">
          <th style="padding: 10px 10px;">Metrics</th>
          <th style="padding: 10px 10px;">Before Let's Connect</th>
          <th style="padding: 10px 10px;">After Let's Connect</th>
          <th style="padding: 10px 10px;">Increase in %</th>
        </tr>
        <tr style="font-size:14px;">
          <td style="padding: 10px 10px;color:gray;">Average Calls made per Day</td>
          <td style="padding: 10px 10px;">79</td>
          <td style="padding: 10px 10px;">125</td>
          <td style="padding: 10px 10px;color: #1892d4;">58%</td>
        </tr>
        <tr style="font-size:14px;"">
          <td style="padding: 10px 10px;color:gray;">Average Monthly Conversions</td>
          <td style="padding: 10px 10px;">389</td>
          <td style="padding: 10px 10px;">632</td>
          <td style="padding: 10px 10px;color: #1892d4;">62%</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" align="left">
      <p class="ContentofCaseStudies RectangleofCaseStudies">A Yamaha Dealer In Pune</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10"><br>
      <table class="table table-bordered">
        <tr style="background-color:#e4e4e4;" style="font-size:15px;font-weight: 700;">
          <th style="padding: 10px 10px;">Metrics</th>
          <th style="padding: 10px 10px;">Before Let's Connect</th>
          <th style="padding: 10px 10px;">After Let's Connect</th>
          <th style="padding: 10px 10px;">Increase in %</th>
        </tr>
        <tr style="font-size:14px;">
          <td style="padding: 10px 10px;color:gray;">Average Calls made per Day</td>
          <td style="padding: 10px 10px;">56</td>
          <td style="padding: 10px 10px;">115</td>
          <td style="padding: 10px 10px;color: #1892d4;">105%</td>
        </tr>
        <tr style="font-size:14px;">
          <td style="padding: 10px 10px;color:gray;">Average Monthly Conversions</td>
          <td style="padding: 10px 10px;">285</td>
          <td style="padding: 10px 10px;">571</td>
          <td style="padding: 10px 10px;color: #1892d4;">100%</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h5 align="left" class="HeaderofLets-Service1">Numbers of Pride</h5><br><br><br>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <p class="ContentofNumberofPride RectangleofNumberofPride" style="margin-top:2%;"><img src="images/numberofPrideIcon1.svg" class="numbers-icon" style="margin-top:-25%;"><br><span align="center">500+</span><br><br>
            Dealer Partners<br> Signed</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <p class="ContentofNumberofPride RectangleofNumberofPride1" style="margin-top:2%;"><img src="images/numberofPrideIcon2.svg" class="numbers-icon" style="margin-top:-25%;"><br><span align="center">100%</span><br><br>
            Custom Built for <br>Automobile Dealerships</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <p class="ContentofNumberofPride RectangleofNumberofPride2" style="margin-top:2%;"><img src="images/numberofPrideIcon3.svg" class="numbers-icon" style="margin-top:-25%;"><br><span align="center">INR 140+ Crore</span><br><br>
            Additional Revenue <br>Generated for all our <br>Dealer Partners so far</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <p class="ContentofNumberofPride RectangleofNumberofPride3" style="margin-top:2%;"><img src="images/numberofPrideIcon4.svg" class="numbers-icon" style="margin-top:-25%;"><br><span align="center">12x</span><br><br>
             Average Return on <br>Investment per <br>User per Month</p>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10" align="center">
            <p class="ContentofContact RectangleofContact">We look forward to hear from you and serve you. <br>Contact us at<br> Call / WhatsApp : <span style="color:black;">7406557772</span> <br>Email : <span style="color:black;">reachus@letsservice.in</span></p>
    </div>
  </div>

  
</div><br><br>

