   <style>
    table {
      border-collapse: collapse;
      width: 100%;
      box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
     font-style: montserrat;
      font-size: 12px;
    }

    th, td {
      text-align: center;
      padding: 12px;
      color:#424242;
      font-size: 13px;
      font-weight: 500;
    }

    tr:nth-child(odd){background-color: #f9f9f9;}

    .statsTableDetailed th {
      background-color: #E3F2FD;
      color:#0083CA;
      /*color:#9E9E9E;*/
      font-weight: 500;
      /*border-bottom: 2px solid #0083CA;*/
    }
    .statsTable th{
      background-color: #E3F2FD;
      color:#0083CA;
      /*color:#9E9E9E;*/
      font-weight: 500;
    }
    .at{
      float:left;
      margin-left:1%;
      margin-bottom:1%;
      text-align: center;
      font-size: 12px;
      line-height: 30px;
      width:24%;
      display: block;
      background-color: #E3F2FD;
      color: #0D47A1;
      border-left: 3px solid #0D47A1;
    }
    .MTDStyle{
      float:left;
      margin-left:1%;
      margin-bottom:1%;
      text-align: center;
      font-size: 12px;
      line-height: 30px;
      width:23%;
      display: block;
      background-color: #E3F2FD;
      color: #0D47A1;
      border-left: 3px solid #0D47A1;
    }
    .statsIcon{
      width: 22px;
      cursor:pointer;
    }
    .active123{
      background-color: #E3F2FD;
      color:white;
    }
     /* privacy page css starts */

  .privacy-menu{
    padding-right: 0px !important;
    margin-left:60px;
  }
  .menu-list{
    list-style-type: none;
    padding: 0;
  }
  .privacy-menu .menu-list > li {
    font-size: 15px;
    cursor: pointer;
    line-height: 30px;
    padding-right: 5px;
    color:grey;
  }
  .privacy-menu .menu-list > li.active{
    /*background-color: #fff;*/
    border-bottom: 3px solid #0083CA;
    color: #0083CA;
  }

.attach{
    margin-top:-25px;
  }
  .historyStyle{
    margin:0 15px 0 15px;
  }

#exportButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 2px 30px 2px 30px;
  border-radius: 15px;
  outline: 0;
 /* margin-top: 20px;*/
  border:none !important;
}
.statsIcon{
  width: 22px;
  cursor:pointer;
}
.modal {
  overflow-y:auto;
}
 .well{
    background: ghostwhite;
    border: none;
    margin-top:-10px;
  }
  .name{
    color:black;
    background: white;
    margin-top:10px;
  }
  .name-text{
    margin-left:5px;
    margin-top:5px;
    font-size: 16px;
  }
  .addr{
    float:right;
    font-size: 14px;
    margin:5px 15px 0px 0px;
    color:grey;
  }

  .heading{
    color:grey;
    font-weight: bold;
  }
  .heading1{
    color:black;
    margin-right:1px;
  }
  .dashboardStatusPanel{
    border-left: 5px solid #0083ca;
    padding: 5px 30px 15px 30px;
    box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
    border-radius: 10px;
  }
.details{
    min-height: 210px;
  }
.ng-table th.filter{
    padding: 0 7px 5px 7px ;
  }
</style>
  
<div class="container-fluid">
  <div class="panel-body">
    <div class="row">
        <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="" >
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedCaller" name="serviceCenterData"
                    ng-options="caller.loginId as caller.username for caller in callerList" ng-change="getSelectedCaller(tcAppointment.selectedCaller)">
              <option value="">Select Caller</option>
            </select>
            </div>
        </div>
     <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedBranch" name="serviceCenterData"
                    ng-options="sc.scId as sc.scName for sc in serviceCenter" ng-change="getSelectedBranch(tcAppointment.selectedBranch)">
              <option value="">Select Branch</option>
            </select>
            </div>
        </div>
        <div class="form-group col-md-2 col-sm-2 pull-right" ng-if="signedInUserRole === 'superAdmin'">
          <div class="">
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="selectedDealer" name="dealerData"
                    ng-options="dealer.scId as dealer.scName for dealer in dealerList" ng-change="getSelectedDealer(selectedDealer)">
              <option value="">Select Dealer</option>
            </select>
            </div>
        </div>
    </div>
      <div class="row">
        <!--  <center><label class="callerDashboardStatsLableStyle">Current Month Insurance Stats</label></center> -->
        <li class="at"><span>UA - Unique Attempted</span></li>
        <li class="at"><span>TA - Total Attempted</span></li>
        <li class="at"><span>AT(NC) - Appointment Taken (Non Converted)</span></li>
        <li class="at"><span>PC - Pending Calls</span></li>
        <div class="col-sm-12 col-sm-12"><br>
          <table class="table-responsive statsTable"> <!--ng-show="creDahboardData" -->
            <thead>
              <th>Data Type</th>
              <th>Allocated <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Total calling data assigned."></i></th>
              <th>AT (NC) <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Appointment Taken (Non Converted)"></i></th>
              <th>UA <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Total unique calls made"></i></th>
              <th>TA <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Total calls made"></i></th>
              <th>Due Calls <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Total Due Calls"></i></th>
              <th>Call Later <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Customers to be reached again."></i></th>
              <th>PC <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Remaining calls to be made for last 30 days."></i></th>
              <th>Insurance Done</th>
              <th>Fresh Calls</th>
              <th>Not Interested</th>
              <th>Total Conversion</th>
            </thead>
            <tbody>
            <!--<center class="text-danger" ng-if="creDashboardDataErrorMsg">{{creDashboardDataErrorMsg}}</center>-->
            <tr ng-repeat="stats in creDashboardData track by $index" ng-class="{active123: stats.dataTypename === 'Total'}" style="font-weight: normal;">
              <td class="info">{{stats.dataTypename}}</td>
              <td>{{stats.allocated}}
                  <img ng-if="stats.allocated !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'allocated',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
              </td>
              <td>{{stats.nonConverted}}
               <img ng-if="stats.nonConverted !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'nonconverted',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon"> 
              </td>
              <td>{{stats.attemptedCount}}
                 <img ng-if="stats.attemptedCount !== '0' " ng-click="getPericularStatsData(stats.dataTypename,'attempted',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
              </td>
              <td>{{stats.totalAttempted}}</td>
              <td>{{stats.dueCalls}}
                <img ng-if="stats.connectedCount !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'dueCalls',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
              </td>
              <td>{{stats.callLaterCount}}
                <img ng-if="stats.callLaterCount !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'calllater',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">  
              </td>             
              <td>{{stats.pendingCount}}
                 <img ng-if="stats.pendingCount !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'pending',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon"> 
              </td>
              <td>{{stats.insuranceCount}}
                 <img ng-if="stats.insuranceCount !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'insuranceDone',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon"> 
              </td>
              <td>{{stats.freshCalls}}
              <img ng-if="stats.freshCalls !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'freshCalls',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
             </td>
             <td>{{stats.notInterestedCount}}
              <img ng-if="stats.notInterestedCount !== '0'" ng-click="getPericularStatsData(stats.dataTypename,'notinterested',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
             </td>
             <td>{{stats.tcConversions}}
              <img ng-if="stats.tcConversions !== '0' && stats.tcConversions !== undefined" ng-click="getPericularStatsData(stats.dataTypename,'tcConversions',stats.dataTypeId,selectedFromDate,selectedToDate)" src="images/plus-new.png" class="statsIcon">
             </td>
             
            </tr>
            </tbody>
          </table><br>
          <!-- <center>Insurance Stats Coming Soon..!</center> -->
        </div>
      </div>
    </div>

  <!-- Data Table Modal -->
    <div class="modal fade"  id="adminDataTableModal" role="dialog">
      <div class="modal-dialog modal-lg">
        
        <div class="modal-content">
          <div class="modal-header teleCallerDashboardModalHeader">
            <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
            <h4 class="modal-title"><center>{{statusDisplay}} Customer Details</center></h4>
          </div>
          <div class="modal-body">
            <div class="row pull-right" ng-if="!creTableDataErrorMsg && exportType">
              <div class="col-sm-2">
                <div class="form-group col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-primary" id="exportButton" ng-click="exportCustomerDetails()">Export</button>
                </div>
              </div>
            </div>
            <!-- <div class="form-group col-md-3 col-sm-3 pull-right">
              <div class="" >
                <input type="text" class="form-control" ng-model="tcSearch" placeholder="Search Details...">
              </div>
            </div> -->
            <table class="statsTableDetailed" ng-table="tableParams" show-filter="true">
             <!--  <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Customer Name</th>
                  <th>Mobile</th>
                  <th>Bike MOdel</th>
                  <th>Chassis No.</th>
                  <th>View </th>
                </tr>
              </thead> -->
                
              <tbody>
                <center class="text-danger" ng-if="creTableDataErrorMsg">{{creTableDataErrorMsg}}</center>
                <tr ng-repeat="detail in $data | filter:tcSearch" class="crmDataTableStyle">
                 <td>{{detail.slNo}}</td>
                    <td data-title="'Customer Name'"  filter="{'customerName': 'text'}">{{detail.customerName}}</td>
                    <td data-title="'Customer Mobile'"  filter="{'customerMobile': 'text'}">{{detail.customerMobile}}</td>
                    <td data-title="'Bike Model'"  filter="{'bikeModel': 'text'}">{{detail.bikeModel}}</td>
                    <td data-title="'Chassis No.'"  filter="{'chassisNo': 'text'}">{{detail.chassisNo}}</td>
                     <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" ng-click="getDetails(detail.apptId,statusDisplay)"data-title="Edit" data-toggle="modal" data-target="#editPhoneModal"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class="btn btn-primary btn-xs" ng-click="getHistory(detail.chassisNo,'dataType',detail.apptId,statusDisplay)" data-title="Edit" data-toggle="modal" data-target="#historyDetailsModal">
                      <span class="glyphicon glyphicon-hand-up"></span>
                    </button></p>
                  </td>
                </tr> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<div class="loader" ng-if="loaderIcon">
  <center>
    <img src="images/Loading_2.gif" style="width: 8%;">
  </center>
 </div>

    <div class="modal fade" id="historyDetailsModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearRecording()">&times;</button>
        <h4 class="modal-title"><center>History</center></h4>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
          <div class="privacy-menu">
            <ul class="menu-list">
              <li class="pull-left" data-target="#callRecording" data-toggle="tab">Call Recording</li>
              <li  data-target="#callHistory" data-toggle="tab" class="active historyStyle pull-left" ng-click="pauseCallRecord()">Call History</li>
              <li  data-target="#serviceHistory" data-toggle="tab" class="historyStyle pull-left" ng-click="pauseCallRecord()">Service History</li>
               <li  data-target="#customerDetails" data-toggle="tab" class="historyStyle pull-left">Customer Details</li>
            </ul>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tab tab-content">
              <div class="tab-pane active" id="callHistory">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="panel-body">
                      <div class="modal-body table-responsive attach">
                        <div class="loader" ng-if="loaderIcon === true">
    <center><img src="images/Loading_2.gif" style="width: 12%;"></center>
  </div>
                        <table class="statsTableDetailed">
                          <thead>
                          <tr class="text-muted">
                            <th>Sl No.</th>
                            <th>Id</th>
                            <th>Caller Name</th>
                            <!-- <th>Data Type</th>
                            <th>Converted Status</th> -->
                            <th>Appointment Status</th>
                            <th>Appointment Sub Status</th>
                            <th>Remarks</th>
                            <th>Scheduled Date/Time</th>
                            <th>Updated Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="" ng-repeat="history in tcAppointmentHistoryData">
                            <td>{{history.slNo}}</td>
                            <td>{{history.apptId}}</td>
                            <td>{{history.callerName}}</td>
                            <!-- <td>{{history.dataType}}</td>
                            <td>{{history.confirmStatus}}</td> -->
                            <td>{{history.apptStatus}}</td>
                            <td>{{history.apptSubStatus}}</td>
                            <td>{{history.remarks}}</td>
                            <td>{{history.rescheduleDate}}</td>
                            <td>{{history.create_ts}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="tab-pane" id="serviceHistory">
                <div class="col-md-11 col-sm-11 col-xs-11">
                  <div class="">
                    <div class="panel-body">
                      <div class="modal-body table-responsive attach">
                        <!--<div class="col-md-12 col-sm-12">-->
                        <table class="statsTableDetailed" style="margin-left:10px;">
                          <thead>
                          <tr class="text-muted">
                            <th>Service Date</th>
                            <th>Service Type</th>
                            <th>Service Advisor</th>
                            <th>Jobcard No.</th>
                            <th>KM Reading</th>
                            <th>Total Amount</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="" ng-repeat="history in tcServiceHistoryData">
                            <td>{{history.serviceDate}}</td>
                            <td>{{history.serviceType}}</td>
                            <td>{{history.serviceAdvisor}}</td>
                            <td>{{history.jobCardNumber}}</td>
                            <td>{{history.kmReading}}</td>
                            <td>{{history.totalAmount |number:2}}</td>
                          </tr>
                          </tbody>
                        </table><br>
                        <!-- </div>-->
                        <div class="loader" ng-if="loaderIconService === true">
    <center><img src="images/Loading_2.gif" style="width: 12%;"></center>
  </div>
                        <center ng-if="tcServiceHistoryDataErrorMsg">{{tcServiceHistoryDataErrorMsg}}</center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="callRecording">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="panel-body">
                      <div class="modal-body table-responsive attach">
                        <div class="col-md-12 col-sm-12 pull-left">
                       <div class="col-md-12 col-sm-12" ng-repeat="callRecord in callRecording">
                       <!--  <p><center><span ng-if="callRecord.recordingUrl !== 'No CallRecord Available'">
                <li ng-if="callRecord.recordingUrl !== 'You do not have permission to access, please contact the admin'" ng-click="viewCallRecord(callRecord)"><i class="glyphicon glyphicon-download"></i>
                  Download - {{callRecord.duration}} - {{callRecord.create_ts | formatDate}}</li></span>
                <span ng-if="callRecord.recordingUrl === 'No CallRecord Available' || callRecord.recordingUrl === 'You dont have permission to access, please contact the admin'">{{callRecord.recordingUrl}}</span></center></p> -->
                <p><center><span ng-if="callRecord.recordingUrl !== 'No CallRecord Available'">
                <li style="list-style-type: none;" ng-if="callRecord.recordingUrl !== 'You do not have permission to access, please contact the admin'">
                   <span style="font-size:13px;">{{callRecord.mobile}}</span>
                   <audio id="stopRecording" controls><source src="{{trustAsResourceUrl1(callRecord.recordingUrl)}}"/></audio>  <span style="font-size:13px;">{{callRecord.create_ts | formatDate}}</span>
                    <a href="{{trustAsResourceUrl1(callRecord.recordingUrl)}}" target="_blank" download><img class="download" src='https://cdn1.iconfinder.com/data/icons/hawcons/32/698392-icon-129-cloud-download-128.png' aria-pressed="true" data-toggle="modal" data-toggle="tooltip" title="Download"/></a>
                </li></span>
                <span ng-if="callRecord.recordingUrl === 'No CallRecord Available' || callRecord.recordingUrl === 'You dont have permission to access, please contact the admin'">{{callRecord.recordingUrl}}</span></center></p>

                <!-- <audio controls>
  <source src="{{https://s3-us-west-2.amazonaws.com/lssaascrm/4792440376_1522735163.mp3}}" />
</audio> -->
              <br>
              </div>
                         </div>
                
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="customerDetails">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="panel-body">
                      <div class="modal-body table-responsive attach">
                        <div class="loader" ng-if="loaderIcon === true">
    <center><img src="images/Loading_2.gif" style="width: 12%;"></center>
  </div><br>
 <center ng-if="tcAppointmentDataErrorMsg">{{tcAppointmentDataErrorMsg}}</center>
                                 <div ng-if="!tcAppointmentDataErrorMsg" class="row" style="font-size: 13px;">
                <div class="col-sm-6 col-xs-12">
                  <div class="dashboardStatusPanel"><br>
                    <!--<center>--><p style="color:#0083ca;font-weight: bold;">Bike Details: </p><!--</center>-->
                    <div class="details">
                      <div class="row">
                        <div class="col-md-5">
                          <p class="heading">Customer Name</p>
                        </div>
                        <div class="col-md-7">
                          <p class="heading1">{{tcAppointmentData.customerName}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <p class="heading">Mobile No.</p>
                        </div>
                        <div class="col-md-8">
                           <label class="teleCallingDashBoardRadio-custom-label">
                  <select class="btn form-control borderHistory btn-primary" style="outline: 0;height:30px;" ng-model="currentMobile" name="mobileNo"
                          ng-options="mobile.customerMobile as mobile.customerMobile for mobile in customerMobileNumbers" ng-change="updateMobileStatus(currentMobile)">
                          <option value="">Select Mobile</option>
                  </select>
                </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <p class="heading">Bike No.</p>
                        </div>
                        <div class="col-md-7">
                          <p class="heading1">{{tcAppointmentData.bikeNo}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <p class="heading">Chassis No.</p>
                        </div>
                        <div class="col-md-7">
                          <p class="heading1">{{tcAppointmentData.chassisNo}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <p class="heading">Bike Model</p>
                        </div>
                        <div class="col-md-7">
                          <p class="heading1">{{tcAppointmentData.bikeModel}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <p class="heading">Date Of Sale</p>
                        </div>
                        <div class="col-md-7">
                          <p class="heading1">{{tcAppointmentData.dateOfSale}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="dashboardStatusPanel"><br>
                    <!--<center>--><p style="color:#0083ca;font-weight: bold;">Insurance Details: </p><!--</center>-->
                    <div class="details">
                      <!-- <div class="row">
                        <div class="col-md-6">
                          <p class="heading">Service Due Date </p>
                        </div>
                        <div class="col-md-6">
                          <p class="heading1">{{tcAppointmentData.serviceDueDate}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="heading">Service Due Type</p>
                        </div>
                        <div class="col-md-6">
                          <p class="heading1">{{tcAppointmentData.serviceDueType}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="heading">Over Due Date</p>
                        </div>
                        <div class="col-md-6">
                          <p class="heading1">{{tcAppointmentData.overDueDate}}</p>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-6">
                          <p class="heading">Service Center</p>
                        </div>
                        <div class="col-md-6">
                          <p class="heading1">{{tcAppointmentData.scName}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <br>

              <div ng-if="!tcAppointmentDataErrorMsg" class="row">
                 <div class="col-sm-6">
      <div class="" style="">

        <div class="dashboardStatusPanel" style="border-radius:10px;"><br>
          <p class="" style="color:#0083ca;font-weight: bold;text-align: center;">Last Appointment History</p>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Service Date</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastServiceDate}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Service Type</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastServiceType}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Called Date</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastCalledDate}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Called Status</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastCalledStatus}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Converted Status</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastConvertedStatus}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last KM Reading</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.kmReading}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">No. Of Times Called To Customer</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.callsmade}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-6 col-xs-12" style="font-size: 13px;">
                <div class="dashboardStatusPanel">
                  <!-- <center><p>Insurance</p></center>-->
                  <p style="color:#0083ca;font-weight: bold;padding:3px;">Future Appointment Details: </p>
                  <div class="AMCdetailsStyle">
                       <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Due Date</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{tcAppointmentData.nextApptDate}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Due Type</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{tcAppointmentData.nextApptType}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Data Type</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{tcAppointmentData.dataTypeName}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="editPhoneModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>Add Phone</center></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customerName}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customerMobile}}</span>
            </div>
          </div>
        </div><br>

        <form name="editPhoneForm" novalidate ng-submit="editPhoneNumber(phoneObj.updatedPhoneNumber,tcAppointmentData)">

          <div class="form-group col-md-12 col-sm-12">
            <input type="number" class="form-control teleCallingUpdateStatusInputStyle" ng-model="phoneObj.updatedPhoneNumber" name="mobile" placeholder="Enter Alternate Phone Number" required ng-maxlength="10" ng-minlength="10"/>
            <span ng-show="editPhoneForm.mobile.$dirty && editPhoneForm.mobile.$error.minlength || editPhoneForm.mobile.$error.maxlength" class="help-block validationMsg">Enter 10 digit mobile number</span></center>
          </div>

          <div class="form-group col-md-12 col-sm-12">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="tcAppointmentData.customerName" name="customerName" placeholder="Enter Alternate Customer Name" required/>
          </div>

          <!-- <div class="form-group col-md-12 col-sm-12"> 
          <div class="col-md-8 col-sm-8">
             <span class="">Would you like to make this No. as Primary? </span>
          </div>
          <div class="col-md-4 col-sm-4">
          <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="phoneObj.defaultNumberStatus" value="Yes" ng-click="getDefaultNumberStatus('Yes')" required>
                  <span>Yes</span>
                </label>
                <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio"  class="teleCallingDashBoardRadio-custom"  name="feedbackWalkin" ng-model="phoneObj.defaultNumberStatus" value="No" ng-click="getDefaultNumberStatus('No')" required>
                  <span>No</span>
                </label>
              </div>
              </div> -->

          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="editPhoneForm.$invalid">Submit</button> <!--onclick="$('#teleCallingStatusUpdateModal').modal('hide')"-->
              </center>
             </div>
          </div>
          <center class="text-success" ng-if="editPhoneSuccessMsg">{{editPhoneSuccessMsg}}</center>
          <center class="text-danger" ng-if="editPhoneErrorMsg">{{editPhoneErrorMsg}}</center>
        </form>

      </div>
    </div>

  </div>
</div>

</div>