 <style>

  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
    font-style: montserrat;
    font-size: 12px;
  }
  th, td {
    text-align: center;
    color:#424242;
    font-size: 13px;
    font-weight: 500;
  }
  tr:nth-child(odd){background-color: #f9f9f9;}
  .statsTableDetailed th {
    background-color: #FFFFFF;
    color:#0083CA;
    font-weight: 500;
  }
  .statsTable th{
    background-color: #0083CA;
    color:#ffffff;
    font-weight: 500;
  }
  .statsTable{
    margin-top:-20px;
  }
  #smsTextMsg {
    width: 40%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #0083ca;
    background-color:white;
    padding-left: 20px;
    outline:none;
  }
  .uploadCharStyle{
    color:grey;
    margin-left:50%;
  }
  .uploadCharStyle2{
    color:grey;
    margin-left:20%;margin-top:-3%;
  }
</style>

 <div class="container-fluid">
   <div class="row">
  <div class="col-sm-12 col-sm-12"><br>
          <table class="table statsTable">
                  <thead>
                  <tr style="color:#0083ca;padding:0px 0px 0px 0px;">
                    <th>Status</th>
                    <th>SMS to be triggered..?</th>
                    <th>SMS</th>
                    <th>Apply</th>
                  </tr>
                  </thead>
                
                  <tbody>
                  <center class="text-danger" ng-if="dateOfSaleDataErrorMsg">{{dateOfSaleDataErrorMsg}}</center>
                  <tr ng-repeat="status in teleCallingStatusForUpdate" class="crmFeedbackRowPanel" ng-click="getFeedbackList('psf',rating.feedBackListId)">
                    <td class="">{{status.description}}</td>
                    <td>
                      <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="feedbackWalkinData.walkin" value="Yes" ng-click="getSMSTriggerStatus('Yes')" required>
                  <span>Yes</span>
                </label>
                <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio"  class="teleCallingDashBoardRadio-custom"  name="feedbackWalkin" ng-model="feedbackWalkinData.walkin" value="No" ng-click="getSMSTriggerStatus('No')" required>
                  <span>No</span>
                </label>
                    </td>
                    <td>
                          <div class="row" style="text-align: center;margin-left:5px;">
            <div class="col-sm-12">
              <textarea  id="smsTextMsg" cols="35" rows="10" ng-model="scSMS.message" placeholder="Enter your text here (upto 500 characters)" ng-trim="false" ng-maxlength="500" required></textarea>
            </div>
          </div>
          <div class="uploadCharStyle">
            <span> Max : 500 char</span>
          </div>
          <div class="pull-left uploadCharStyle2">
            <span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length === undefined">0</span><span class="apptDetailTextHeaderStyle">{{scSMS.message.length}}</span><span> Character(s)  =  </span><span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length === undefined">0</span> <span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length !== undefined"> {{(scSMS.message.length) /160 |rounded}}</span><span> SMS</span>
          </div>
                    </td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Apply"><button class="btn btn-primary btn-xs" data-title="Apply" ng-click="clearDateOfSaleMsg(data.chassisNo)"><span class="glyphicon glyphicon-thumbs-up"></span></button></p></td>
                  </tr>
                  </tbody>
                </table>
        </div>
  </div>   
 </div>   



