<style>
  .crmDataTableStyle{
    cursor:pointer;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
    /*box-shadow: 1px 1px 5px rgb(210, 213, 219), 0 0 5px rgb(210, 213, 219), 1px 1px 5px rgb(210, 213, 219),1px 1px 5px rgb(210, 213, 219);*/
    font-style: montserrat;
    font-size: 12px;
    /*border-radius: 8px;*/
    /*border-top: 2px solid #0083CA;*/
  }

  th, td {
    text-align: center;
    padding: 12px;
    color:#424242;
    font-size: 13px;
    font-weight: 500;
  }

  tr:nth-child(odd){background-color: #f9f9f9;}

  .statsTableDetailed th {
    background-color: #E3F2FD;
    color:#0083CA;
    /*color:#9E9E9E;*/
    font-weight: 500;
    /*border-bottom: 2px solid #0083CA;*/
  }
   .ng-table th.filter{
    padding: 0 7px 5px 7px ;
  }
</style>
<div class="container-fluid">
    <div class="row" style="padding:0 0  0 20px;">
      <div class="col-md-2 col-sm-3 crmFeedbackRowPanel" ng-click="getPSFDataStatsWise('freshData')">
        <div id="feedbckSpacing">
          <div class="row">
            <div class="col-sm-12">
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <h3 class="countStyle">{{psfStats.freshData}}</h3><br>
                </div>
              <!--</div>-->
              <!--<div class="row">-->
                <div class="col-sm-12">
                  <p class="feedbackLable">Fresh Calls</p>
                </div>
              <!--</div>--><br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 crmFeedbackRowPanel" ng-click="getPSFDataStatsWise('walkIn')">
        <div id="feedbckSpacing">
          <div class="row">
            <div class="col-sm-12">
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <h3 class="countStyle">{{psfStats.walkinData}}</h3><br>
                </div>
            <!--  </div>-->
              <!--<div class="row">-->
                <div class="col-sm-12">
                  <p class="feedbackLable">Walkin</p>
                </div>
              <!--</div>--><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 crmFeedbackRowPanel" ng-click="getPSFDataStatsWise('callLater')">
        <div id="feedbckSpacing">
          <div class="row">
            <div class="col-sm-12">
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <h3 class="countStyle">{{psfStats.CalllaterData}}</h3><br>
                </div>
             <!-- </div>-->
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <p class="feedbackLable">Call Later</p>
                </div>
             <!-- </div>--><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 crmFeedbackRowPanel" ng-click="getPSFDataStatsWise('pendingData')">
        <div id="feedbckSpacing">
          <div class="row">
            <div class="col-sm-12">
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <h3 class="countStyle">{{psfStats.PendingData}}</h3><br>
                </div>
              <!--</div>-->
            <!--  <div class="row">-->
                <div class="col-sm-12">
                  <p class="feedbackLable">Pending</p>
                </div>
             <!-- </div>--><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 crmFeedbackRowPanel" ng-click="getPSFDataStatsWise('totalCallsMade')">
        <div id="feedbckSpacing">
          <div class="row">
            <div class="col-sm-12">
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <h3 class="countStyle">{{psfStats.totalCallsMade}}</h3><br>
                </div>
             <!-- </div>-->
             <!-- <div class="row">-->
                <div class="col-sm-12">
                  <p class="feedbackLable">Total Calls</p>
                </div>
              <!--</div>--><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="teleCallingSelectStatusDisplay" style="padding:25px 15px 0 0;">
          <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedServiceCenter" name="serviceCenterData"
                    ng-options="sc.scBranchId as sc.branchName for sc in serviceCenter" ng-change="getSelectedServiceCenter(tcAppointment.selectedServiceCenter)">
              <option value="">Select Branch</option>
            </select>
        </div>
      </div>
      <!-- <div class="form-group col-md-2 col-sm-2">
          <div class="" style="margin-left:%;">
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedServiceCenter" name="serviceCenterData"
                    ng-options="sc.scBranchId as sc.branchName for sc in serviceCenter" ng-change="getSelectedServiceCenter(tcAppointment.selectedServiceCenter)">
              <option value="">Select Service Center</option>
            </select>
            </div>
        </div> -->
    </div><br>

  <!--   <div class="row" ng-show="feedBackFilter">
        <form name="dateForm" ng-submit="psfDataByDate(tcAppointment)" style="padding:0 0 0 60px;">
          <hr>
          <div class="form-group col-md-2 col-sm-3">
            <div class="">
              <input type="text" class="form-control" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'FromDate')" ng-model="tcAppointment.selectedFromDate" is-open="isOpenFrom" placeholder="From Date" required>
           </div>
          </div>
          <div class="form-group  col-md-2 col-sm-3">
            <div class="">
              <input type="text" class="form-control " datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'ToDate')" ng-model="tcAppointment.selectedToDate" is-open="isOpenTo" placeholder="To Date" required>
          </div>
          </div>
          <div class="form-group col-md-2 col-sm-3">
            <div class="">
              <select class="form-control" ng-model="tcAppointment.selectedServiceCenter" name="serviceCenterData"
                      ng-options="sc.scBranchId as sc.branchName for sc in serviceCenter" required>
                <option value="">Select Service Center</option>
              </select>
           </div>
          </div>
          <div class="form-group col-md-2 col-sm-3">
            <div class="">
              <select class="form-control test" ng-model="tcAppointment.selectedStatus" name="statusData"
                      ng-options="tcStatus.description as tcStatus.description for tcStatus in teleCallingStatus" required>
                <option value="">Select Status</option>
              </select>
           </div>
          </div>

          <div class="form-group col-md-2 col-sm-3">
            <button type="submit" class="btn btn-primary" id="salesFeedBackBtn" ng-disabled="dateForm.$invalid">Submit</button>
          </div>
        </form>
    </div><br> -->

  <div class="col-sm-12">
    <center class="text-danger" ng-if="creTableDataErrorMsg">{{creTableDataErrorMsg}}</center>
    <table class="statsTableDetailed" ng-table="tableParams" show-filter="true">
      <tbody>
      <tr ng-repeat="crmTableData in $data" ui-sref="psfDetailed({apptId: crmTableData.apptId,dataTypeId: crmTableData.dataTypeId || '4',status:defaultStatusFeedback})" class="crmDataTableStyle"><!--ng-click="getAppointmentDetails(crmTableData.apptId,crmTableData.dataTypeId)"-->
        <td data-title="'Sl.No.'" sortable="'slNo'">
          {{crmTableData.slNo}}
        </td>
        <td data-title="'Customer Name'" sortable="'customer_name'" filter="{'customer_name': 'text'}">{{crmTableData.customer_name}}</td>
        <td data-title="'Mobile'" sortable="'customer_mobile'" filter="{'customer_mobile': 'text'}">
          {{crmTableData.customer_mobile}}
        </td>
        <td data-title="'Data Type'" sortable="'dataTypeName'" filter="{'dataTypeName': 'text'}">
          {{crmTableData.dataTypeName}}
        </td>
        <td data-title="'Branch Name'" sortable="'branchName'" filter="{'branchName': 'text'}">
          {{crmTableData.branchName}}
        </td>
        <td data-title="'Chassis No.'" sortable="'serviceDueType'" filter="{'chassisNo': 'text'}">
          {{crmTableData.chassisNo}}
        </td>
        <td data-title="'Job Card Date'" sortable="'serviceDueDate'" filter="{'serviceDueDate': 'text'}">
          {{crmTableData.serviceDueDate}}
        </td>
        <td data-title="'Called Date'" sortable="'rescheduleDate'" filter="{'rescheduleDate': 'text'}">
          {{crmTableData.rescheduleDate}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="loader" ng-if="loading">
    <center>
      <img src="images/Loading_2.gif" style="width: 12%;">
      <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 45px;"></span>--></center>
  </div>
</div>
