<style>

  .well{
    background: ghostwhite;
    border: none;
    margin-top:-10px;
  }
  .name{
    /* display: block;
     position: relative;
     height: 105px;*/
    color:black;
    background: white;
    margin-top:10px;
    /* border-radius: 10px;*/
    /*margin:15px 0px 0px 0px;*/
  }
  .name-text{
    margin-left:5px;
    margin-top:5px;
    font-size: 16px;
  }
  .addr{
    float:right;
    font-size: 14px;
    margin:5px 15px 0px 0px;
    color:grey;
  }

  .heading{
    color:grey;
    font-weight: bold;
  }
  .heading1{
    color:black;
    /* font-weight: lighter;*/
    margin-right:1px;
  }

  .dashboardStatusPanel{
    border-left: 5px solid #0083ca;
    cursor: pointer;
    padding: 5px 30px 15px 30px;
    box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
    border-radius: 10px;
  }
  .image{
    margin-top: -40px;
    width:55px;
    background: white;
    border-radius:50%;
  }

  /* privacy page css starts */

  .privacy-menu{
    padding-right: 0px !important;
    margin-left:60px;
  }
  .menu-list{
    list-style-type: none;
    padding: 0;
  }
  .privacy-menu .menu-list > li {
    /*background: #e6e6e6;*/
    /*border-radius: 10px;*/
    /*border-bottom-left-radius: 0px;*/
    /*border-bottom-right-radius: 0px;*/
    font-size: 15px;
    cursor: pointer;
    line-height: 30px;
    padding-right: 5px;
    color:grey;
  }
  .privacy-menu .menu-list > li.active{
    background-color: #fff;
    border-bottom: 3px solid #0083CA;
    color: #0083CA;
  }
  .privacy-menu .menu-list > li:hover {
    /*background-color: #f2f2f2;*/
    /*color: #0083CA;*/
  }

  .historyStyle1{
    float: left;
    margin-left:11%;
  }

  .borderHistory {
    padding: 0 10px 0 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    /* color:grey;*/
    /*font-size: 12px;*/
  }
  .appointmentHistoryTable th {
    background-color: #a6a6a6;
    color:#494949;
  }
  .callerHistoryTable th {
    background-color: #a6a6a6;
    color:#494949;
  }
  .details{
    min-height: 158px;
  }
  .AMCdetailsStyle{
    min-height: 60px;
  }

  #smsTextMsg {
    width: 90%;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #0083ca;
    background-color:white;
    margin-top:15px;
    padding-bottom: 110px;
    padding-left: 20px;
    outline:none;
  }
  .uploadCharStyle{
    color:grey;
    margin-left:80%;
  }
  .uploadCharStyle2{
    color:grey;
    margin-left:1%;margin-top:-4%;
  }

  #sendSmsButton{
    background-color:  #0083ca;
    color:#FFFFFF;
    padding: 2px 30px 2px 30px;
    border-radius: 15px;
    outline: 0;
    border:none !important;
  }
  .attach{
    margin-top:-28px;
  }
  .sidenav {
    max-height: 500px;
    width: 16%;
    position: fixed;
    float:right;
    z-index: 1;
    top: 125px;
    left: 2px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    /*padding-top: 20px;*/
  }

  .sidenav a {
    padding-left: 10px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    /*margin-top:0px;*/
    margin-bottom: 4px;
  }
  .sidenav p{
    font-size: 11px;
    color:grey;
    margin-bottom: 0px;
  }
  .sidenav center{
    margin-top:3px;
    margin-bottom: 3px;
    font-weight: bold;
  }
  #historyDetailsModal .modal-dialog{
    width:90%;
    overflow-x: none;
  }
  #historyDetailsModal .modal-body {
    min-height:350px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
    font-style: montserrat;
    font-size: 12px;
    font-weight: normal;
  }

  th, td {
    text-align: center;
    padding: 12px;
    color:#424242;
    font-size: 13px;
    font-weight: 500;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #E0E0E0;
    color:#494949;

  }
  
</style>

<div class="container-fluid myScroll">
  <div class="row">

    <div class="col-sm-8" style="margin-top:-1.5%;">
      <div class="panel panel-default crmDashboardApptStyle" style="border:none;">
        <div class="panel-heading" id="apptMainHeader">
          <center style="font-size: 16px"><span id="apptMainHeader" class="pull-left" style="cursor:pointer;" ng-click="goBackward()" ui-sref="sales"><span class="glyphicon glyphicon-backward"></span> Back</span>Appointment Id : {{tcAppointmentData.apptId}}<span id="apptMainHeader" class="pull-right" style="cursor:pointer;" ng-click="skipAppointment()"><span class=""></span> Skip</span></center></div>
        <div class="panel-body" style="margin-top:-1.5%;">
          <div class="row">
            <div class="well name dashboardStatusPanel">
              <h4 class="name-text">{{tcAppointmentData.customer_name}}<span class="addr">{{tcAppointmentData.customer_address}}</span></h4>
              <div class="radio-inline" style="margin-left:-14px;">
                <label class="teleCallingDashBoardRadio-custom-label">
                  <select class="btn form-control borderHistory btn-primary" style="outline: 0;" ng-model="currentMobile" name="mobileNo"
                          ng-options="mobile.customer_mobile as mobile.customer_mobile for mobile in customerMobileNumbers" ng-change="getCustomerNameByPhone(customerMobileNumbers,currentMobile.substr(0,10))" required>
                    <!--<option value="">Mobile</option>-->
                  </select>
                </label>
              </div>
              <div class="radio-inline" style="margin-left:-12px;">
                <label class="">
                  <i class="glyphicon glyphicon-earphone btn btn-primary" style="border-radius: 40%" data-toggle="tooltip" title="Call" ng-click="callTeleCallingCustomer(tcAppointmentData,currentMobile.substr(0,10))"></i>
                </label>
              </div>
              <div class="radio-inline" style="margin-left:-12px;">
                <label class="">
                  <i class="glyphicon glyphicon-comment btn btn-primary" style="border-radius: 40%" aria-pressed="true"  data-toggle="modal" data-toggle="tooltip" title="Send SMS" data-target="#smsModal"></i>
                </label>
              </div>
              <div class="radio-inline" style="margin-left:-12px;">
                <label class="">
                  <i class="glyphicon glyphicon-plus btn btn-primary" style="border-radius: 40%" aria-pressed="true" data-toggle="modal" data-toggle="tooltip" title="Add Phone Number" data-target="#editPhoneModal" ng-click="clearPhoneUpdateMsg()"></i>
                </label>
              </div>
              <div class="radio-inline" style="margin-left:-12px;">
                <label class="">
                  <i class="glyphicon glyphicon-pencil btn btn-primary" style="border-radius: 40%" aria-pressed="true" data-toggle="modal" data-toggle="tooltip" title="Update Service Center" data-target="#updateServiceCenterModal" ng-click="clearServiceCenterUpdateMsg()"></i>
                </label>
              </div>
              <div class="radio-inline" style="margin-left:-12px;">
                <label class="">
                  <i class="glyphicon glyphicon-phone btn btn-primary" style="border-radius: 40%" aria-pressed="true" data-toggle="modal" data-toggle="tooltip" title="Make Primary" data-target="#" ng-click="updateMobileStatus(currentMobile)"></i>
                </label>
              </div>
            </div><br>
            <div class="row" style="font-size:13px;">
              <div class="col-sm-6 col-xs-12">
                <div class="dashboardStatusPanel">
                  <center><img src="images/Group 383.png" class="image"></center>
                  <!--<center>--><p style="color:#0083ca;font-weight: bold;">Bike Details: </p><!--</center>-->
                  <div class="details">
                    <div class="row">
                      <div class="col-md-5">
                        <p class="heading">Bike No.</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.bikeNo}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <p class="heading">Chassis No.</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.chassisNo}}</p>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-4">
                        <p class="heading">Bike Brand</p>
                      </div>
                      <div class="col-md-8">
                        <p class="heading1">{{tcAppointmentData.bikeBrand}}</p>
                      </div>
                    </div>-->
                    <div class="row">
                      <div class="col-md-5">
                        <p class="heading">Bike Model</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.bikeModel}}</p>
                      </div>
                    </div>
                    <!--<div class="row">
                      <div class="col-md-4">
                        <p class="heading">Bike Type</p>
                      </div>
                      <div class="col-md-8">
                        <p class="heading1">{{tcAppointmentData.bikeType}}</p>
                      </div>
                    </div>-->
                    <div class="row">
                      <div class="col-md-5">
                        <p class="heading">Date Of Sale</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.dateOfSale}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <p class="heading">City</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.city}}</p>
                      </div>
                    </div>
                    <div ng-if="loginBrandName === 'Honda'" class="row">
                      <div class="col-md-5">
                        <p class="heading">Purchase Type</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.purchaseType}}</p>
                      </div>
                    </div>
                    <div ng-if="loginBrandName === 'Honda'" class="row">
                      <div class="col-md-5">
                        <p class="heading">Financier</p>
                      </div>
                      <div class="col-md-7">
                        <p class="heading1">{{tcAppointmentData.financier}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           <div class="col-sm-6 col-xs-12">
                <div class="dashboardStatusPanel">
                  <center><img src="images/Group 384.png" class="image"></center>
                  <!--<center>--><p style="color:#0083ca;font-weight: bold;">Service Details: </p><!--</center>-->
                  <div class="details">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Call Type</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{callType}}</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Service Center</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{tcAppointmentData.branchName}}</p>
                      </div>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div> <br>

           <!--  <div class="row" style="font-size:13px;">
              <div class="col-sm-6 col-md-6 col-xs-12">

                <div class="dashboardStatusPanel">
                  <p style="color:#0083ca;font-weight: bold;padding:3px;">AMC Details: </p>
                  <div class="AMCdetailsStyle">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">Valid Date</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1"></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="heading">AMC Remaining</p>
                      </div>
                      <div class="col-md-6">
                        <p class="heading1">{{tcAppointmentData.amcCount}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="dashboardStatusPanel">
                  <p style="color:#0083ca;font-weight: bold;padding:3px;">Insurance Details: </p>
                  <div class="AMCdetailsStyle">
                  </div>
                </div>
              </div>
            </div> -->

          </div></div></div></div>

    <div class="col-sm-4">
      <div class="" style="margin-top:-15px;">

        <div class="well" style="border-radius:10px; margin-right: 5%;">
          <p class="" style="color:#0083ca;font-weight: bold;text-align: center;">Last Appointment History</p>
          
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Called Date</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastCalledDate}}</p>
            </div>
          </div>
          <div class="row" style="font-size: 13px;">
            <div class="col-md-6">
              <p class="heading">Last Called Status</p>
            </div>
            <div class="col-md-6">
              <p class="heading1">{{tcAppointmentData.lastCalledStatus}}</p>
            </div>
          </div>
         
          <center>
            <button class="btn btn-primary" style="outline:0; padding:2px; width: 30%; font-size:13px;" data-toggle="modal" data-target="#historyDetailsModal" ng-click="getHistory()"><span style="font-size:11px;" class="glyphicon glyphicon-menu-hamburger"></span>  History</button>
          </center>
        </div>

        <div class="well" style="border-radius:10px; margin-right: 5%;">
          <p class="" style="color:#0083ca;font-weight: bold;text-align: center;">Update Status</p>
          <div class="row">
                <div class="col-sm-12">
                  <b>Did you talk to customer?</b>
              </div>
              <div class="col-sm-12">
                <label ng-if="callType !== 'Anniversary Calls'" style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="yesNoStatus" value="Yes" ng-click="yesNoCheck('Yes')" required>
                  <span>Yes</span>
                </label>
                <label ng-if="callType === 'Anniversary Calls'" style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="yesNoStatus" value="Yes" ng-click="updateTeleCallingStatus('Aniversary Yes',tcAppointmentData)" required>
                  <span>Yes</span>
                </label>
                <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio"  class="teleCallingDashBoardRadio-custom"  name="feedbackWalkin" ng-model="yesNoStatus" value="No" ng-click="yesNoCheck('No')" required>
                  <span>No</span>
                </label>
              </div>
              </div> 
         <div class="" ng-if="callType === 'Welcome Calls' && yesNoStatus === 'Yes'" ng-repeat="status in teleCallingStatusForUpdate| limitTo : 1 :4">
            <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="{{status.description}}" ng-model="statusOption" ng-click="updateTeleCallingStatus(statusOption,tcAppointmentData)" data-toggle="modal" data-target="#teleCallingStatusUpdateModal">
              <span>{{status.description}}</span>
            </label>
          </div>

          <div class="" ng-if="callType === 'Warranty Calls' && yesNoStatus === 'Yes'" ng-repeat="status in teleCallingStatusForUpdate| limitTo : 3 :1">
            <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="{{status.description}}" ng-model="statusOption" ng-click="updateTeleCallingStatus(statusOption,tcAppointmentData)" data-toggle="modal" data-target="#teleCallingStatusUpdateModal">
              <span>{{status.description}}</span>
            </label>
          </div>

          <!-- <div class="" ng-if="callType === 'Anniversary Calls' && yesNoStatus === 'Yes'">
            <label>
               <form name="manualRemarksForm" novalidate>
            <div class="form-group col-md-10 col-sm-10">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="manualRemarks" name="manualRemarks" placeholder="Enter Remarks"/>
          </div>
          <div class="form-group col-md-10 col-sm-10">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="manualRemarksForm.$invalid">Update</button>
              </center>
            </div>
          </form>
            </label>
          </div> -->

          <div class="" ng-if="yesNoStatus === 'No'" ng-repeat="status in teleCallingStatusForUpdate| limitTo :1">
            <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="{{status.description}}" ng-model="statusOption" ng-click="updateTeleCallingStatus(statusOption,tcAppointmentData)" data-toggle="modal" data-target="#teleCallingStatusUpdateModal">
              <span>{{status.description}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="loader" ng-if="loaderIcon === true">
  <center><img src="images/Loading_2.gif" style="width: 12%;"></center>
</div>

<div class="modal fade" id="teleCallingStatusUpdateModal" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>{{selectedStatus}}</center></h4>
      </div>
      <div class="modal-body">
         <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_name}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{updateTeleCallingAppointmentStatus.customer_mobile}}</span>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12 col-sm-12 apptDetailTextHeader">
            <div class="col-sm-11">
              <p>Update Status:</p>
            </div>
          </div>
        </div>
        <!-- Walkin and Call Later Form -->
        <form name="walkinCallLaterForm" novalidate ng-submit="updateAppointmentStatus(selectedStatus,updateTeleCallingAppointmentStatus,walkinStatus)" ng-show="selectedStatus === 'Walkin' || selectedStatus === 'Call Later'">

          <div class="form-group col-md-6 col-sm-6" ng-show="walkinStatus.remarks === 'Customer will call and Confirm' || walkinStatus.remarks === 'Out of Station' || walkinStatus.remarks === 'Customer Busy'|| walkinStatus.remarks === 'Required KMs not travelled'">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendarStatus($event)" min-date="minDate" ng-model="walkinStatus.selectedDate" is-open="isOpenFromStatus" placeholder="Select Date *" ng-change="getSelectedDate(walkinStatus.selectedDate)" readonly required/>
          </div>
          <div class="form-group col-md-6 col-sm-6" ng-if="walkinStatus.remarks === 'Customer will call and Confirm' || walkinStatus.remarks === 'Out of Station' || walkinStatus.remarks === 'Customer Busy'|| walkinStatus.remarks === 'Required KMs not travelled'">
            <select class="form-control teleCallingUpdateStatusInputStyle" ng-model="walkinStatus.timeValue" name="AppointmentTime"
                    ng-options="object.value as object.timeSelect for object in timeSlot" required>
              <option value="">Select Time *</option></select>
          </div>

          <div class="form-group col-md-6 col-sm-6" ng-show="(walkinStatus.remarks === 'Customer agreed to Walkin' || walkinStatus.remarks === 'Customer tentively agreed to Walkin')">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendarStatus($event)" min-date="minDate" ng-model="walkinStatus.selectedDate" is-open="isOpenFromStatus" placeholder="Select Date *" ng-change="getSelectedDate(walkinStatus.selectedDate)" readonly required/>
          </div>
          <div class="form-group col-md-6 col-sm-6" ng-if="(walkinStatus.remarks === 'Customer agreed to Walkin' || walkinStatus.remarks === 'Customer tentively agreed to Walkin')">
            <select class="form-control teleCallingUpdateStatusInputStyle" ng-model="walkinStatus.timeValue" name="AppointmentTime"
                    ng-options="object.value as object.timeSelect for object in timeSlot" required>
              <option value="">Select Time *</option></select>
          </div>
          <div class="form-group col-md-6 col-sm-6" ><!--ng-if="showWalkinReason"-->
            <select class="form-control teleCallingUpdateStatusInputStyle" ng-model="walkinStatus.remarks" name="notInterestedRemarks"
                    ng-options="reason.apptSubStatus as reason.apptSubStatus for reason in reasonDescription" ng-change="checkDatesByReason(walkinStatus.remarks,walkinStatus.selectedDate)" required>
              <option value="">Select Reason *</option>
            </select>
          </div>

          <div class="form-group col-md-6 col-sm-6">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="walkinStatus.manualRemarks" name="walkinStatusManualRemarks" placeholder="Enter Remarks" ng-change="walkinRemarkCheck()"/>
          </div>
          <br><br>
          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="walkinCallLaterForm.$invalid">Update</button> <!--onclick="$('teleCallingStatusUpdateModal').modal('hide')"-->
              </center>
              <!--<center class="text-success" ng-if="tcStatusUpdateMsg">{{tcStatusUpdateMsg}}</center>-->
            </div>
          </div>
        </form>

        <!-- Service Done Form -->
        <form name="serviceDoneForm" novalidate ng-submit="updateAppointmentStatus(selectedStatus,updateTeleCallingAppointmentStatus,serviceDoneOption)" ng-show="selectedStatus === 'Service Done'">
          <div class="form-group col-md-12 col-sm-12">
            <div class="teleCallingSelectStatusDisplay">
              <label class="teleCallingDashBoardRadio-custom-label" ng-repeat="desc in serviceCenterListForServiceDone">
                <input type="radio" class="teleCallingDashBoardRadio-custom" name="serviceDoneOption" id="{{desc.scId}}" value="{{desc.scName}}" ng-model="$parent.serviceDoneStatus.serviceDoneOption" ng-click="updateServiceDoneStatus(serviceDoneStatus.serviceDoneOption)" required>
                <span>{{desc.scName}}</span>
              </label>
            </div>
          </div>

          <div class="form-group col-md-6 col-sm-6">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="serviceDoneStatus.scComplaintManualRemarks" name="serviceDoneScComplaintManualRemarks" placeholder="Enter Remarks"/>
          </div>
          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="serviceDoneForm.$invalid">Update</button>
              </center>
              <!--<center class="text-success" ng-if="tcStatusUpdateMsg">{{tcStatusUpdateMsg}}</center>-->
            </div>
          </div>
        </form>
        
        <!-- Not Interested Form -->
        <form name="notInterestedForm" novalidate ng-submit="updateAppointmentStatus(selectedStatus,updateTeleCallingAppointmentStatus,notInterestedStatus)" ng-show="selectedStatus === 'Not Interested'">
          <div class="form-group col-md-6 col-sm-6">
            <select class="form-control teleCallingUpdateStatusInputStyle" ng-model="notInterestedStatus.remarks" name="notInterestedRemarks"
                    ng-options="reason.apptSubStatus as reason.apptSubStatus for reason in reasonDescriptionForSales" ng-change="getSelectedReason(notInterestedStatus.remarks)" required>
              <option value="">Select Reason *</option>
            </select>
          </div>

          <div class="form-group col-md-6 col-sm-6" ng-if="notInterestedStatus.remarks === 'Customer shifted' || notInterestedStatus.remarks === 'More Distance'">
            <input type="textbox" class="form-control teleCallingUpdateStatusInputStyle" g-places-autocomplete ng-model="notInterestedStatus.area" placeholder="Area *" autocomplete="off" required/>
          </div>

          <div class="form-group col-md-6 col-sm-6">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="notInterestedStatus.scComplaintManualRemarks" name="notInterestedScComplaintManualRemarks" placeholder="Enter Remarks"/>
          </div>

          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="notInterestedForm.$invalid">Update</button> <!--onclick="$('#teleCallingStatusUpdateModal').modal('hide')"-->
              </center>
              <!--<center class="text-success" ng-if="tcStatusUpdateMsg">{{tcStatusUpdateMsg}}</center>-->
            </div>
          </div>
        </form>

        <!-- Feedback Form -->
        <form name="feedbackForm" novalidate ng-submit="updateUserFeedBack(title,feedBackRemarksObject,updateTeleCallingAppointmentStatus)" ng-show="selectedStatus === 'Feedback'">
          <center ng-if="feedbackTitleList.length === 0"><h4 class="text-danger">Contact Admin for adding Feedback Questions.</h4></center>
          <div ng-if="feedbackTitleList.length >0" class="row" ng-repeat="title in feedbackTitleList track by $index" ng-if="title.feedBackType === 'sales'">
                <div class="col-sm-1">
                  {{$index + 1}}
                </div>
                <div class="col-sm-5">
                  {{title.description}}
                </div>
                <div class="col-sm-3">
                  <label ng-if="title.questionType === 'YesandNo'" class="radio-inline"><input type="radio" ng-model="title.feedBackStatus" value="Yes" required>Yes</label>
                  <label ng-if="title.questionType === 'YesandNo'" class="radio-inline"><input type="radio" ng-model="title.feedBackStatus" value="No" required>No</label>
                  <input-stars ng-if="title.questionType !== 'YesandNo'" max="5" ng-model="title.rating" style="margin-left:-30px;" required></input-stars>
                 </div>

                <div class="col-sm-3">
                  <input type="text" class="form-control" ng-model="title.feedBackRemarks" placeholder="Remarks" style="margin-left:-20%; margin-bottom: 10px;">
                </div>
              </div>
              <!-- <div class="row" ng-if="feedbackPickAndDropData.pickAndDrop !== 'Yes'">
                <div class="col-sm-3">
                  <b>Walkin :</b>
              </div>
              <div class="col-sm-4">
                <label class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="feedbackWalkinData.walkin" value="Yes" ng-click="getWalkinReason('walkin')" required>
                  <span>Yes</span>
                </label>
                <label class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio"  class="teleCallingDashBoardRadio-custom"  name="feedbackWalkin" ng-model="feedbackWalkinData.walkin" value="No" required>
                  <span>No</span>
                </label>
              </div>
              </div> -->

             <div ng-if="feedbackTitleList.length >0" class="row">
              <div class="form-group col-md-12 col-sm-12">
                <center>
                  <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="feedbackForm.$invalid">Update</button>
                </center>
              </div>
            </div>
        </form>
     
        <center class="text-success" ng-if="tcStatusUpdateMsg">{{tcStatusUpdateMsg.msg}}<p>{{tcStatusUpdateMsg.nextApptMsg}}</p></center>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="historyDetailsModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>History</center></h4>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
          <div class="privacy-menu">
            <ul class="menu-list">
                <li  data-target="#callHistory" data-toggle="tab" class="active historyStyle1">Call History</li>
            </ul>
          </div><br><br>

          <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:9%; margin-right:0%;">
            <div class="tab tab-content">
              <div class="tab-pane active" id="callHistory">
                <div class="col-md-11 col-sm-11 col-xs-11">
                  <div class="">
                    <div class="panel-body">
                      <div class="modal-body table-responsive attach">
                        <table class="table table-striped table-responsive callerHistoryTable" style="margin-left:10px;">
                          <thead>
                          <tr class="text-muted">
                            <th>Sl No.</th>
                            <th>Id</th>
                            <th>Caller Name</th>
                            <th>Data Type</th>
                            <th>Converted Status</th>
                            <th>Appointment Status</th>
                            <th>Appointment Sub Status</th>
                            <th>Remarks</th>
                            <th>Scheduled Date/Time</th>
                            <th>Updated Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="" ng-repeat="history in tcAppointmentHistoryData">
                            <td>{{history.slNo}}</td>
                            <td>{{history.apptId}}</td>
                            <td>{{history.callerName}}</td>
                            <td>{{history.dataType}}</td>
                            <td>{{history.confirmStatus}}</td>
                            <td>{{history.apptStatus}}</td>
                            <td>{{history.apptSubStatus}}</td>
                            <td>{{history.remarks}}</td>
                            <td>{{history.rescheduleDate}}</td>
                            <td>{{history.create_ts}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                  <div class="sidenav">
                    <center>Customer Details</center>
                    <a><p>Customer Name</p>{{tcAppointmentData.customer_name}}</a>
                    <a><p>Bike No.</p>{{tcAppointmentData.bikeNo}}</a>
                    <a><p>Chassis No.</p>{{tcAppointmentData.chassisNo}}</a>
                    <a><p>Bike Model</p>{{tcAppointmentData.bikeModel}}</a>
                    <a><p>Service Center</p>{{tcAppointmentData.branchName}}</a>
                    <a><p>Current Service Due Type</p>{{tcAppointmentData.serviceDueType}}</a>
                    <a><p>Date of Sale</p>{{tcAppointmentData.dateOfSale}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="smsModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>Send SMS</center></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_name}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_mobile}}</span>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <form name="sendSMSForm" ng-submit="sendSCSMS(scSMS,tcAppointmentData.customer_mobile.substr(0,10))">

            <div class="row" style="text-align: center;margin-left:5px;">
              <div class="col-sm-12">
                <textarea  id="smsTextMsg" cols="35" rows="10" ng-model="scSMS.message" placeholder="Enter your text here (upto 500 characters)" ng-trim="false" ng-maxlength="500" required></textarea>
              </div>
            </div>
            <!--<div class="pull-right">
              <span ng-if="500 - scSMS.message.length > 0">{{500 - scSMS.message.length}} left</span>
            </div>-->
            <div class="uploadCharStyle">
              <span> Max : 500 char</span>
            </div>
            <div class="pull-left uploadCharStyle2">
              <span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length === undefined">0</span><span class="apptDetailTextHeaderStyle">{{scSMS.message.length}}</span><span> Character(s)  =  </span><span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length === undefined">0</span> <span class="apptDetailTextHeaderStyle" ng-if="scSMS.message.length !== undefined"> {{(scSMS.message.length) /160 |rounded}}</span><span> SMS</span>
            </div>

            <div>
              <center><button type="submit" id="sendSmsButton" class="btn btn-primary" ng-disabled="sendSMSForm.$invalid">Send SMS</button></center>
            </div>

          </form>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="activeDeactivePhoneModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearActiveInactiveModal()">&times;</button>
        <h4 class="modal-title"><center>Make Primary Mobile</center></h4>
      </div>
      <div class="modal-body">
        <div class="radio-inline">
            <!-- <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="active" ng-model="phoneObj.mobileStatus" ng-click="getUpdateMobileStatus(currentMobile,tcAppointmentData,'','active')">
              <span>Activate Mobile No.</span>
            </label> -->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{mobileDisplay}}  
              <b ng-if="primaryStatus">(Primary)</b></span>
            </div>
          </div>
        </div><br>
             <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="primary" ng-model="phoneObj.mobileStatus" ng-click="getUpdateMobileStatus(currentMobile.substr(0,10),tcAppointmentData,'','primary')">
              <span>Make Primary</span>
            </label>
            <!--  <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
              <input type="radio" class="teleCallingDashBoardRadio-custom" name="teleCallingOption" value="inactive" ng-model="phoneObj.mobileStatus" ng-click="getUpdateMobileStatus(currentMobile,tcAppointmentData,'','inactive')">
              <span>Deactivate Mobile Number</span>
            </label> -->
          </div>
           <center class="text-success" ng-if="editPhoneSuccessMsg">{{editPhoneSuccessMsg}}</center>
          <center class="text-danger" ng-if="editPhoneErrorMsg">{{editPhoneErrorMsg}}</center>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="editPhoneModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>Add Phone</center></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_name}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_mobile}}</span>
            </div>
          </div>
        </div><br>

        <form name="editPhoneForm" novalidate ng-submit="editPhoneNumber(phoneObj.updatedPhoneNumber,tcAppointmentData,phoneObj.defaultNumberStatus,'new')">

          <div class="form-group col-md-12 col-sm-12">
            <input type="number" class="form-control teleCallingUpdateStatusInputStyle" ng-model="phoneObj.updatedPhoneNumber" name="mobile" placeholder="Enter Alternate Phone Number" required ng-maxlength="10" ng-minlength="10"/>
            <span ng-show="editPhoneForm.mobile.$dirty && editPhoneForm.mobile.$error.minlength || editPhoneForm.mobile.$error.maxlength" class="help-block validationMsg">Enter 10 digit mobile number</span></center>
          </div>

          <div class="form-group col-md-12 col-sm-12">
            <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="tcAppointmentData.customer_name" name="customer_name" placeholder="Enter Alternate Customer Name" required/>
          </div>
           <div class="form-group col-md-12 col-sm-12"> 
          <div class="col-md-8 col-sm-8">
             <span class="">Would you like to make this No. as Primary? </span>
          </div>
          <div class="col-md-4 col-sm-4">
          <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio" class="teleCallingDashBoardRadio-custom" name="feedbackWalkin" ng-model="phoneObj.defaultNumberStatus" value="Yes" ng-click="getDefaultNumberStatus('Yes')" required>
                  <span>Yes</span>
                </label>
                <label style="font-size:13px;" class="teleCallingDashBoardRadio-custom-label">
                  <input type="radio"  class="teleCallingDashBoardRadio-custom"  name="feedbackWalkin" ng-model="phoneObj.defaultNumberStatus" value="No" ng-click="getDefaultNumberStatus('No')" required>
                  <span>No</span>
                </label>
              </div>
              </div>

          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="editPhoneForm.$invalid">Submit</button> <!--onclick="$('#teleCallingStatusUpdateModal').modal('hide')"-->
              </center>
             </div>
          </div>
          <center class="text-success" ng-if="editPhoneSuccessMsg">{{editPhoneSuccessMsg}}</center>
          <center class="text-danger" ng-if="editPhoneErrorMsg">{{editPhoneErrorMsg}}</center>
        </form>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="updateServiceCenterModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>Update Service Center</center></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_name}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_mobile}}</span>
            </div>
          </div>
        </div><br>

        <form name="updateServiceCenterForm" novalidate ng-submit="updateServiceCenter(tcAppointmentData.apptId,tcAppointmentData.branchId,serviceCenterObj.selectedServiceCenterToUpdate)">
          <div class="form-group col-md-10 col-sm-10">
            <select class="form-control teleCallingUpdateStatusInputStyle" ng-model="serviceCenterObj.selectedServiceCenterToUpdate" name="serviceCenterData"
                     ng-options="sc.scId as sc.scName for sc in serviceCenterToUpdate" required>
              <option value="">Select Service Center</option>
            </select>
          </div>
          <div class="row">
            <div class="form-group col-md-12 col-sm-12">
              <center>
                <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="updateServiceCenterForm.$invalid">Update</button> <!--onclick="$('#teleCallingStatusUpdateModal').modal('hide')"-->
              </center>
            </div>
          </div>
          <center class="text-success" ng-if="updateServiceCenterSuccessMsg">{{updateServiceCenterSuccessMsg}}</center>
          <center class="text-danger" ng-if="updateServiceCenterErrorMsg">{{updateServiceCenterErrorMsg}}</center>
        </form>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="addReferenceModal" role="dialog">
  <div class="modal-dialog">

    <!-- TeleCaller Modal content-->
    <div class="modal-content">
      <div class="modal-header teleCallerDashboardModalHeader">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
        <h4 class="modal-title"><center>Add Reference Customer</center></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Name : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_name}}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-11">
              <span class="apptDetailTextHeaderStyle">Customer Mobile : </span><span class="apptDetailTextStyle"> {{tcAppointmentData.customer_mobile}}</span>
            </div>
          </div>
        </div><br>

        <form name="addRefferelForm" novalidate ng-submit="addRefferelCustomer(referelObj)">

            <div class="form-group col-md-12 col-sm-12">
              <input type="text" class="form-control teleCallingUpdateStatusInputStyle" ng-model="referelObj.customer_name" name="mobile" placeholder="Enter Name" required/>
            </div>

            <div class="form-group col-md-12 col-sm-12">
              <input type="number" class="form-control teleCallingUpdateStatusInputStyle" ng-model="referelObj.mobile" name="mobile" placeholder="Enter Mobile" required ng-maxlength="10" ng-minlength="10"/>
              <span ng-show="addRefferelForm.mobile.$dirty && addRefferelForm.mobile.$error.minlength || addRefferelForm.mobile.$error.maxlength" class="help-block validationMsg">Enter 10 digit mobile number</span></center>
            </div>

            <div class="row">
              <div class="form-group col-md-12 col-sm-12">
                <center>
                  <button type="submit" class="btn teleCallerDashboardModalBtn" ng-disabled="addRefferelForm.$invalid">Submit</button> <!--onclick="$('#teleCallingStatusUpdateModal').modal('hide')"-->
                </center>
              </div>
            </div>

          <center class="text-success" ng-if="addReferelSuccessMsg">{{addReferelSuccessMsg}}</center>
          <center class="text-danger" ng-if="addReferelErrorMsg">{{addReferelErrorMsg}}</center>
        </form>

      </div>
    </div>

  </div>
</div>
