<style>
#download-pdf{
  background: white;
  color:grey;
}
#exportButton{
  background-color:  #0083ca;
  color:#FFFFFF;
  padding: 2px 25px 2px 25px;
  border-radius: 15px;
  outline: 0;
 /* margin-top: 20px;*/
  border:none !important;
}
 table {
      border-collapse: collapse;
      width: 100%;
      box-shadow: 1px 1px 2px rgb(210, 213, 219) , 0 0 25px rgb(210, 213, 219) , 0 0 5px rgb(210, 213, 219) ;
     font-style: montserrat;
      font-size: 12px;
    }

    th, td {
      text-align: center;
      padding: 12px;
      color:#424242;
      font-size: 13px;
      font-weight: 500;
    }

    tr:nth-child(odd){background-color: #f9f9f9;}

    .statsTableDetailed th {
      background-color: #E3F2FD;
      color:#0083CA;
      /*color:#9E9E9E;*/
      font-weight: 500;
      /*border-bottom: 2px solid #0083CA;*/
    }
    .statsTable th{
      background-color: #E3F2FD;
      color:#0083CA;
      /*color:#9E9E9E;*/
      font-weight: 500;
    }
</style>
<div class="container-fluid">


<div class="loader" ng-if="loaderIcon">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <div class="row col-sm-12">

 <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedBranch" name="serviceCenterData"
                    ng-options="sc.scId as sc.scName for sc in serviceCenter" ng-change="getSelectedBranch(tcAppointment.selectedBranch)">
              <option value="">Select Branch</option>
            </select>
            </div>
        </div>

         <div class="form-group col-md-2 col-sm-2 pull-right" ng-if="signedInUserRole === 'superAdmin'">
          <div class="" >
            <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="selectedDealer" name="dealerData"
                    ng-options="dealer.scId as dealer.scName for dealer in dealerList" ng-change="getSelectedDealer(selectedDealer)">
              <option value="">Select Dealer</option>
            </select>
            </div>
        </div>
     </div>
<div class="row">
  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 5 Month's Revenue Stats  <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 5 Month's Revenue Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="revenueData" height="120" chart-labels="revenueLables" chart-series="revenueDataSeries" chart-colors="revenueColors" chart-options="options">
            </canvas> -->
            <div class="loader" ng-if="loaderIconRevenue">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('revenueDayWise')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
            <canvas id="revenueDayWise" height="140" class="chart chart-bar" 
        chart-labels="revenueChart.labels" 
        chart-data="revenueChart.data" 
        chart-series="revenueChart.series"
        chart-colors="revenueChart.colors"
        chart-options="revenueChart.options"
          chart-dataset-override="datasetOverrideRevenue"
        ></canvas>
       <!--  <center style="font-size:12px;">
                <div class="trackAppointmentColorCoding">Total Revenue:</div>
                <div class="trackAppointmentColorCoding">FSC1- {{fsc1Total |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC2- {{fsc2Total |number:0}}</div><br>
                <div class="trackAppointmentColorCoding">FSC3- {{fsc3Total |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC4- {{fsc4Total |number:0}}</div>
                <div class="trackAppointmentColorCoding">Paid- {{paidTotal |number:0}}</div>
              </center> -->
          </div>
        </div>
      </div>
    </div><br>
  </div>



  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 7 Day's Revenue Stats  <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 7 Day's Revenue Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="revenueDataWeekly" height="120" chart-labels="revenueLablesWeekly" chart-series="revenueDataSeriesWeekly" chart-colors="revenueColors" chart-options="options">
            </canvas> -->
            <div class="loader" ng-if="loaderIconRevenueWeekly">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('revenueWeekly')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
            <canvas id="revenueWeekly" height="140" class="chart chart-bar" 
        chart-labels="revenueChartWeekly.labels" 
        chart-data="revenueChartWeekly.data" 
        chart-series="revenueChartWeekly.series"
        chart-colors="revenueChartWeekly.colors"
        chart-options="revenueChartWeekly.options"
          chart-dataset-override="datasetOverrideRevenueWeekly"
        ></canvas>
        <!-- <center style="font-size:12px;">
                <div class="trackAppointmentColorCoding">Total Revenue:</div>
                <div class="trackAppointmentColorCoding">FSC1- {{fsc1WeeklyTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC2- {{fsc2WeeklyTotal |number:0}}</div><br>
                <div class="trackAppointmentColorCoding">FSC3- {{fsc3WeeklyTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC4- {{fsc4WeeklyTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">Paid- {{paidWeeklyTotal |number:0}}</div>
              </center> -->
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 5 Month's Jobcard Stats  <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 5 Month's Jobcard Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="jobcardData" height="100" chart-labels="jobcardDataLables" chart-series="jobcardDataSeries" chart-colors="revenueColors" chart-options="options">
            </canvas> -->
            <div class="loader" ng-if="loaderIconJobcard">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('jobcardDayWise')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
             <canvas id="jobcardDayWise" height="140" class="chart chart-bar" 
        chart-labels="jobcardChart.labels" 
        chart-data="jobcardChart.data" 
        chart-series="jobcardChart.series"
        chart-colors="jobcardChart.colors"
        chart-options="jobcardChart.options"
          chart-dataset-override="datasetOverrideJobcard"
        ></canvas>
       <!--  <center style="font-size:12px;">
                <div class="trackAppointmentColorCoding">Total Jobcard:</div>
                <div class="trackAppointmentColorCoding">FSC1- {{fsc1JobcardTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC2- {{fsc2JobcardTotal |number:0}}</div><br>
                <div class="trackAppointmentColorCoding">FSC3- {{fsc3JobcardTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC4- {{fsc4JobcardTotal |number:0}}</div>
                <div class="trackAppointmentColorCoding">Paid- {{paidJobcardTotal |number:0}}</div>
              </center> -->
          </div>
        </div>
      </div>
    </div><br>
  </div>

  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 7 Day's Jobcard Stats  <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 7 Day's Jobcard Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="jobcardDataWeekly" height="100" chart-labels="jobcardDataLablesWeekly" chart-series="jobcardDataSeriesWeekly" chart-colors="revenueColors" chart-options="options">
            </canvas> -->
            <div class="loader" ng-if="loaderIconJobcardWeekly">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('jobcardWeekly')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
            <canvas id="jobcardWeekly" height="140" class="chart chart-bar" 
        chart-labels="jobcardChartWeekly.labels" 
        chart-data="jobcardChartWeekly.data" 
        chart-series="jobcardChartWeekly.series"
        chart-colors="jobcardChartWeekly.colors"
        chart-options="jobcardChartWeekly.options"
          chart-dataset-override="datasetOverrideJobcardWeekly"
        ></canvas>
        <!--  <center style="font-size:12px;">
                <div class="trackAppointmentColorCoding">Total Jobcard:</div>
                <div class="trackAppointmentColorCoding">FSC1- {{fsc1JobcardTotalWeekly |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC2- {{fsc2JobcardTotalWeekly |number:0}}</div><br>
                <div class="trackAppointmentColorCoding">FSC3- {{fsc3JobcardTotalWeekly |number:0}}</div>
                <div class="trackAppointmentColorCoding">FSC4- {{fsc4JobcardTotalWeekly |number:0}}</div>
                <div class="trackAppointmentColorCoding">Paid- {{paidJobcardTotalWeekly |number:0}}</div>
              </center> -->
          </div>
        </div>
      </div>
    </div><br>
  </div>
  </div>

<div class="row">
  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 5 Year's Unique Customers Stats  <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 5 Year's Unique Customers Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="yearWiseData" height="100" chart-labels="yearWiseDataLables" chart-series="yearWiseDataSeries" chart-colors="yearWiseDataColors" chart-options="optionsYearWise">
            </canvas> -->
            <div class="loader" ng-if="loaderIconUniqueCustomers">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('yearWise')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
             <canvas id="yearWise" height="120" class="chart chart-bar" 
        chart-labels="yearWiseDataChart.labels" 
        chart-data="yearWiseDataChart.data" 
        chart-series="yearWiseDataChart.series"
        chart-colors="yearWiseDataChart.colors"
        chart-options="yearWiseDataChart.options"
          chart-dataset-override="datasetOverrideYearWiseData"
        ></canvas>
          </div>
        </div>
      </div>
    </div><br>
  </div>

  <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 5 Month's Same Day Delivery Stats <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 5 Month's Same Day Delivery Stats"></i></label></center>
           <!--  <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="onTimeDeliveryData" height="100" chart-labels="onTimeDeliveryDataLables" chart-series="onTimeDeliveryDataSeries" chart-colors="onTimeDeliveryDataColors" chart-options="optionsYearWise">
            </canvas> -->
            <div class="loader" ng-if="loaderIconSameDayDelivery">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('onTimeChart')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
            <canvas id="onTimeChart" height="120" class="chart chart-bar" 
        chart-labels="onTimeDataChart.labels" 
        chart-data="onTimeDataChart.data" 
        chart-series="onTimeDataChart.series"
        chart-colors="onTimeDataChart.colors"
        chart-options="onTimeDataChart.options"
          chart-dataset-override="datasetOverrideOnTimeData"
        ></canvas>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>

  <div class="row">
<div class="col-sm-6">
      <div class="text-center dashboardStatusGraphPanel">
        <div class="panel-body">
          <div class="dashbord_chart">
            <div id="serviceCentrePDGraph">
               <center><label class="adminGraphLableStyle">Current Year(2018) Customer Visited Stats <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="2018 Customer Visited Stats"></i></label>
                  <div ng-if="!dataErrorMsgCustomerServicedCount" id="customerVisited" style="width: 100%; height: 250px"></div>
                   <b ng-if="!dataErrorMsgCustomerServicedCount" style="font-size:13px;">Total - {{customerVisitedTotal}}</b>
              </center>
            </div>
            <center><span ng-if="dataErrorMsgCustomerServicedCount">No Data</span></center>
          </div>
        </div>
      </div><br>
      </div>

       <div class="col-sm-6">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Last 4 Month's Customer Visited Stats <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Last 4 Month's Customer Visited Stats"></i></label></center>
            <div class="loader" ng-if="loaderIconOtherCustomers">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
 <!-- <button type="button" style="outline:0;" class="btn btn-sm pull-right" aria-pressed="true" data-toggle="tooltip" title="Download Chart" id="download-pdf" ng-click="downloadPDF('outSideCustomerVisitedDataChart')">
                <span class="glyphicon glyphicon-download-alt"></span>
</button> -->
            <canvas id="outSideCustomerVisitedDataChart" height="147" class="chart chart-bar" 
        chart-labels="outSideCustomerDataChart.labels" 
        chart-data="outSideCustomerDataChart.data" 
        chart-series="outSideCustomerDataChart.series"
        chart-colors="outSideCustomerDataChart.colors"
        chart-options="outSideCustomerDataChart.options"
          chart-dataset-override="datasetOverrideOutSideCustomerData"
        ></canvas>
          </div>
        </div>
      </div>
    </div><br>
  </div>
   </div>
   
   <div class="row">

    <div class="col-sm-12">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <div class="row">
               <div class="row pull-left">
          <div ng-if="signedInUserRole === 'superAdmin'" class="col-sm-2">
            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" id="exportButton" ng-click="exportPotentialCustomerStats()">Export</button>
            </div>
          </div>
        </div>
              <form name="dateForm" ng-submit="adminPotentiaStatsByDate(tcAppointment.selectedFromDate,tcAppointment.selectedToDate)">
                 <div class="form-group col-md-2 col-sm-3 pull-right">
            <button type="submit" class="btn btn-primary" id="salesFeedBackBtn" ng-disabled="dateForm.$invalid">Submit</button>
          </div>
            <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
            <!-- <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedYear" name="serviceCenterData"
                    ng-options="sc.year as sc.year for sc in validYears" ng-click="getSelectedYear(tcAppointment.selectedYear)">
              <option value="">Select Year</option>
            </select> -->
              <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'ToDate')" ng-model="tcAppointment.selectedToDate" is-open="isOpenTo" placeholder="To Date" style="font-size:13px;" required>
            </div>
        </div>
     
      <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
           <!--  <select class="form-control teleCallingUpdateStatusInputStyle" style="font-size:13px;" ng-model="tcAppointment.selectedMonth" name="serviceCenterData"
                    ng-options="sc as sc.month for sc in validMonths" ng-click="getSelectedMonth(tcAppointment.selectedMonth)">
              <option value="">Select Month</option>
            </select> -->
              <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'FromDate')" ng-model="tcAppointment.selectedFromDate" is-open="isOpenFrom" placeholder="From Date" style="font-size:13px;" required>
            </div>
        </div>
        </form>
         </div>
            <center><label class="adminGraphLableStyle"><!-- {{monthDisplay}}'s --> Potential Data <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Month Wise Potential Data"></i></label></center>
            <div class="loader" ng-if="loaderIconPotentialCustomer">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
            <canvas ng-if="!dataErrorMsgPotentialCustomerStats" id="monthWisePotentialCustomerDataChart" height="120" class="chart chart-bar" 
        chart-labels="monthWisePotentialCustomerDataChart.labels" 
        chart-data="monthWisePotentialCustomerDataChart.data" 
        chart-series="monthWisePotentialCustomerDataChart.series"
        chart-colors="monthWisePotentialCustomerDataChart.colors"
        chart-options="monthWisePotentialCustomerDataChart.options"
          chart-dataset-override="datasetOverrideMonthWisePotentialCustomerData"
          chart-click="getTcAdminStatsStatusDetail"
        ></canvas>
        <center style="font-size:12px;">
                <div ng-if="!dataErrorMsgPotentialCustomerStats" class="trackAppointmentColorCoding">Total Potential Data : {{totalPotentialCustomers}}</div>
                 <div ng-if="!dataErrorMsgPotentialCustomerStats" class="trackAppointmentColorCoding">Total Visited Customers : {{totalVisitedCustomers}}</div>
        </center>        
        <center><span class="text-danger" ng-if="dataErrorMsgPotentialCustomerStats">No Data</span></center>
          </div>
        </div>
      </div>
    </div><br>
  </div>

  <div class="col-sm-12">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <div class="row">
        <!-- <div class="row pull-left">
          <div ng-if="signedInUserRole === 'superAdmin'" class="col-sm-2">
            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" id="exportButton" ng-click="exportPotentialCustomerStats()">Export</button>
            </div>
          </div>
        </div> -->
            <form name="salesJobDateForm" ng-submit="salesJobStatsByDate(salesJobObj.selectedFromDate,salesJobObj.selectedToDate)">
            <div class="form-group col-md-2 col-sm-3 pull-right">
            <button type="submit" class="btn btn-primary" id="salesFeedBackBtn" ng-disabled="salesJobDateForm.$invalid">Submit</button></div>
         <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
              <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'ToDate')" ng-model="salesJobObj.selectedToDate" is-open="isOpenTo" placeholder="To Date" style="font-size:13px;" required>
            </div>
         </div>
     
        <div class="form-group col-md-2 col-sm-2 pull-right">
          <div class="">
              <input type="text" class="form-control teleCallingUpdateStatusInputStyle" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'FromDate')" ng-model="salesJobObj.selectedFromDate" is-open="isOpenFrom" placeholder="From Date" style="font-size:13px;" required>
            </div>
        </div>
        </form>
         </div>
            <center><label class="adminGraphLableStyle">Jobcard & Sales Upload Data <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Month Wise Jobcard & Sales Data Stats"></i></label></center>
            <div class="loader" ng-if="loaderIconSalesJobcardData">
            <center>
              <img src="images/Loading_2.gif" style="width: 12%;">
            </center>
            </div>
            <canvas ng-if="!dataErrorMsgSalesJobcardData" id="monthWiseSalesJobcardDataChart" height="120" class="chart chart-bar" 
        chart-labels="monthWiseSalesJobcardDataChart.labels" 
        chart-data="monthWiseSalesJobcardDataChart.data" 
        chart-series="monthWiseSalesJobcardDataChart.series"
        chart-colors="monthWiseSalesJobcardDataChart.colors"
        chart-options="monthWiseSalesJobcardDataChart.options"
          chart-dataset-override="datasetOverrideMonthWiseSalesJobcardData"
          chart-click="getTcAdminStatsStatusDetail"
        ></canvas>
        <center style="font-size:12px;">
                <div ng-if="!dataErrorMsgSalesJobcardData" class="trackAppointmentColorCoding">Total Jobcard Data : {{totalJobcard}}</div>
                <div ng-if="!dataErrorMsgSalesJobcardData" class="trackAppointmentColorCoding">Total Sales Data : {{totalSales}}</div>
        </center>        
        <center><span class="text-danger" ng-if="dataErrorMsgSalesJobcardData">No Data</span></center>
          </div>
        </div>
      </div>
    </div><br>
  </div>


    <div class="col-sm-12">
    <div class="text-center dashboardStatusGraphPanel">
      <div class="panel-body">
        <div class="dashbord_chart">
          <div id="serviceCentrePDGraph">
            <center><label class="adminGraphLableStyle">Service Adviser Stats <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Service Advisor Stats"></i></label></center>
            <div class="loader" ng-if="loaderIconServiceAdvisor">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
  </center>
 </div>
            <canvas ng-if="!dataErrorMsgServiceAdviserStats" id="serviceAdvisorChartChart" height="120" class="chart-horizontal-bar" 
        chart-labels="serviceAdvisorDataChart.labels" 
        chart-data="serviceAdvisorDataChart.data" 
        chart-series="serviceAdvisorDataChart.series"
        chart-colors="serviceAdvisorDataChart.colors"
        chart-options="serviceAdvisorDataChart.options"
          chart-dataset-override="datasetOverrideServiceAdvisorData"
        ></canvas>
        <center><span class="text-danger" ng-if="dataErrorMsgServiceAdviserStats">No Data</span></center>
          </div>
        </div>
      </div>
    </div>
  </div>
   </div><br>

</div>

 <!-- Data Table Modal -->
 <div class="modal fade"  id="adminDataTableModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- TeleCaller Modal content-->
      <div class="modal-content">
        <div class="modal-header teleCallerDashboardModalHeader">
          <button type="button" class="close" data-dismiss="modal" ng-click="clearUpdateMsg()">&times;</button>
          <h4 class="modal-title"><center>{{statusDisplay}} Customer Details</center></h4>
        </div>
        <div class="modal-body">
          <div class="row pull-right" ng-if="!creTableDataErrorMsg && exportType">
          <div class="col-sm-2">
            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" id="exportButton" ng-click="exportCustomerDetails()">Export</button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-3 pull-right">
          <div class="" >
            <input type="text" class="form-control" ng-model="tcSearch" placeholder="Search Details...">
            </div>
        </div>
          <table class="statsTableDetailed" ng-table="tableParams" show-filter="false">
                  <thead>
                  <tr>
                    <th>Sl No.</th>
                    <th>Customer Name</th>
                    <th>Mobile</th>
                    <th>Bike Model</th>
                    <th>Chassis No.</th>
                    <!-- <th>View </th> -->
                  </tr>
                  </thead>
                
                  <tbody>
                  <center class="text-danger" ng-if="creTableDataErrorMsg">{{creTableDataErrorMsg}}</center>
                  <tr ng-repeat="detail in $data | filter:tcSearch" class="crmDataTableStyle">
                    <td>{{detail.slNo}}</td>
                    <td>{{detail.customer_name}}</td>
                    <td>{{detail.customer_mobile}}</td>
                    <td>{{detail.bikeModel}}</td>
                    <td>{{detail.chassisNo}}</td>
                    <!-- <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" ng-click="getHistory(detail.chassisNo,'dataType',detail.apptId,statusDisplay)" data-title="Edit" data-toggle="modal" data-target="#historyDetailsModal"><span class="glyphicon glyphicon-hand-up"></span></button></p></td> -->
                  </tr> 
                  </tbody>
                </table>
       </div>
      </div>
    </div>
  </div>


</div>

   <!-- 
   <canvas id="line" class="chart-bar adminPickAndWalkinGraphAlign" chart-data="revenueDataWeekly" height="100" chart-labels="revenueLablesWeekly" chart-series="revenueDataSeriesWeekly" chart-options="options"> --><!--chart-dataset-override="datasetOverride" -->
            <!--   </canvas> -->