<style>
	.profilePanel{
  		padding: 20px 20px 20px 20px;
  		box-shadow: 0 0 5px rgb(210, 213, 219) ;
  	}
  	.panelofcard {
    	box-shadow: 0 0 5px rgb(210, 213, 219) ;
    	height: auto;
  	}
  	.panelofcard .headerOfCard {
    	color: black;
    	background-color: #e3f9ef;
    	padding: 1px 0 5px 5px;
    	margin: 0px 0px 15px 0px;
  	}
  	.mandatory:after
  	{
  		content: "*";
  		font-weight: bold;
  		color: red; 
  		margin-left: 3px;
	}
</style>

<div class="container-fluid">
	<!-- Email support page for CALLER START-->
	<div class="row"> <!--ng-if="signedInUserRole === 'caller'" -->
		<div class="col-md-12 col-sm-12">
			<button class="btn btn-primary pull-right" ui-sref="support" style="margin-left: 5%;"><span class="glyphicon glyphicon-backward" style="margin-right: 10px;"></span>Back
             </button>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="profilePanel">
				<p><b>Raise a Support ticket</b></p>
				<p class="bodyText">Stuck with a problem. Do write to us, we will get back to you shortly.</p>
				<center>
					<button class="btn btn-primary" ng-click="createViewTicket('createTicket')">Create ticket</button>
				</center>
			</div>
		</div>
		<div class="col-md-6">
			<div class="profilePanel">
				<p><b>View your Tickets</b></p>
				<p class="bodyText">Raised a request, check it here.</p>
				<center>
					<button class="btn btn-primary" ng-click="createViewTicket('viewTicket')">View tickets</button>
				</center>
			</div>
		</div>
	</div><br>
	
	<!-- <div ng-show="create">
		<iframe src="https://letsservicetechnolgy.freshdesk.com/support/tickets/new" width="100%" height="1000" style="border:none;"></iframe>
	</div> -->

	<div class="row" ng-show="create">    
		<div class="col-md-2 col-sm-2 col-xs-2">
		    
		</div>

	  	<div class="col-md-8 col-sm-8 col-xs-8">
	  		<div class="profilePanel">
		        <center>
		          <h4><b>Submit a Ticket</b></h4>
		        </center><br>
	    		<form name="raiseTicketForm" ng-submit="raiseTicket(ticktFieldsObj)" class="form-horizontal" novalidate>
				    <div class="form-group">
				      <label class="control-label col-sm-3" for="email">Requester Email</label>
				      <div class="col-sm-7">
				        <input type="email" class="form-control" name="requester" ng-model="ticktFieldsObj.requesterEmail" readonly>
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3" for="text">Dealer Name </label>
				      <div class="col-sm-7">         
				        <input type="text" class="form-control" name="dealerName" ng-model="ticktFieldsObj.dealerName" readonly>
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3" for="text">Requester Name </label>
				      <div class="col-sm-7">         
				        <input type="text" class="form-control" name="dealerName" ng-model="ticktFieldsObj.loginName" readonly>
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3 mandatory" for="text">Subject </label>
				      <div class="col-sm-7">         
				        <input type="text" class="form-control" ng-model="ticktFieldsObj.subject" required />
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3 mandatory" for="text">Mobile No. </label>
				      <div class="col-sm-7">         
				        <input type="number" class="form-control" name="mobile" ng-model="ticktFieldsObj.mobile" required ng-maxlength="10" ng-minlength="10">
				         <span ng-show="raiseTicketForm.mobile.$dirty && raiseTicketForm.mobile.$error.minlength || raiseTicketForm.mobile.$error.maxlength" class="help-block validationMsg">Enter 10 digit mobile number</span>
				      </div>
				    </div>

				    <div class="form-group">	
				      <label class="control-label col-sm-3 mandatory" for="text">Category </label>
				      <div class="col-sm-5"> 
				          <div id="sel2">
				            <select class="form-control" ng-model="ticktFieldsObj.selectedCategory" 
				            ng-options="item.value as item.value for item in category" ng-change="categoryName(ticktFieldsObj.selectedCategory)" required>
				              <option value="">Select here</option>
				            </select>
				          </div>
				        </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3 mandatory" for="text">Sub Category </label>
				      <div class="col-sm-5"> 
				          <div id="sel2">
				            <select class="form-control" ng-model="ticktFieldsObj.selectedSubCategory" ng-options="item.fieldName as item.fieldName for item in subCategory" required>
				              <option value="">Select here</option>
				            </select>
				          </div>
				        </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-3 mandatory" for="text">Description </label>
				      <div class="col-sm-7">
				      	<textarea class="form-control" ng-model="ticktFieldsObj.description" rows="5" required>
				      	</textarea>
				      </div>
				    </div><br>
	    
				    <div class="form-group">
                        <center>
                        	<label id="uploadInput">
                        		<input id="emailUploadFile" ng-model="ticktFieldsObj.attachmentFile" s3-upload bucket="'saascrmsupport'" s3-upload-options="{getOptionsUri: 'https://letsservicetech.in/s3_file_upload_class/saascrmsupport/1/295822529277341'}"/>
                        	</label>
                    	</center>
                    </div>  

				    <div class="form-group">
				    	<center>
				        	<button type="submit" class="btn btn-primary" ng-disabled="raiseTicketForm.$invalid">Submit Ticket</button>
				        </center>
				    </div>
	  			</form>
	  		</div>
	  	</div>
	
		<div class="col-md-2 col-sm-2 col-xs-2">
		    
		</div>
	</div><br>

    <center class="alert alert-danger" ng-if="ticketDetailsErrorMsg">{{ticketDetailsErrorMsg}}</center>

	<div ng-show="view" ng-repeat="items in ticketDetails">
		<div class="panelofcard">
  			<div class="row headerOfCard">
			    <div class="col-sm-6">
			      <h4><b>Subject : {{items.subject}}</b></h4>
			      <p><b>Requested by :</b> {{items.custom_fields.cf_requester_name}} </p>
			    </div>
			    <div class="col-sm-5">
					<p align="right" style="margin-top: 8px;"><b>Ticket ID : </b>{{items.id}}</p>
			    	<p align="right" style="margin-top: 3px;"><b>Status : </b>{{items.status}}</p>
			    </div>
  			</div> 

			<div class="row">
			    <div class="col-sm-12">
			      <p style="padding-left: 20px;"><b>Description : </b></p>
			      <p style="padding-left: 20px;">{{items.description_text}}</p>
			    </div>
			    <div class="col-sm-12">
			    	<center>
			    		<button class="btn btn-primary" data-target="#updateTicketModal" data-toggle="modal" ng-click="getParticularTicket(items)">Update ticket</button>
			    		<button class="btn btn-primary" data-target="#viewFullTicketModal" data-toggle="modal" ng-click="getParticularTicketFullDetails(items)">View full details</button>
			    	</center><br>
			    </div>
			</div>
		</div> <br>
	</div>

	<div class="modal fade" id="updateTicketModal" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
      			<div class="modal-header teleCallerDashboardModalHeader">
        			<button type="button" class="close" data-dismiss="modal" ng-click="">&times;</button>
        			<h4 class="modal-title"><center>{{updateObj.updatedSubject}}</center></h4>
      			</div>
      			<div class="modal-body">
      				<form name="updateTicketForm" ng-submit="updateTicket(updateObj)" novalidate>
      					<div class="row">
      						<div class="col-sm-9">
      							<p>
      								<b>Ticket ID:</b> {{updateObj.updatedId}}
      							</p>
      							<p>
      								<b>Description:</b>
      							</p>
      							<textarea cols="50" rows="5" ng-model="updateObj.updatedDescription" required></textarea>
      						</div>
      					</div><br>
      					<div class="form-group">
                    		<center>
                    		<label id="uploadInput">
                        		<input id="emailUploadFile" ng-model="updateObj.updateAttachmentFile" s3-upload bucket="'saascrmsupport'" s3-upload-options="{getOptionsUri: 'https://letsservicetech.in/s3_file_upload_class/saascrmsupport/1/295822529277341'}"/>
                        	</label>
                    		</center>
                		</div>
      					<div class="row">
      						<div class="col-sm-12">
				    			<center>
				    				<button class="btn btn-primary" ng-disabled="updateTicketForm.$invalid">Update ticket</button>
				    			</center>
			    			</div> 
      					</div>
      				</form><br>
      				<center class="alert alert-success" ng-if="successMsg">{{successMsg}}</center>
      				<center class="alert alert-danger" ng-if="errorMSg">{{errorMSg}}</center>
      			</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="viewFullTicketModal" role="dialog">
          <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header teleCallerDashboardModalHeader">
                <button type="button" class="close" data-dismiss="modal" ng-click="">&times;</button>
                  <h4 class="modal-title"><center>Subject :- {{updateObj.updatedSubject}}</center></h4>
                </div>
                <div class="modal-body">
                   <div class="row">
                    <div class="col-sm-12">
                      <p>
                        <b>Ticket ID:</b> {{updateObj.updatedId}}
                      </p>
                      <p>
                        <b>Description</b>
                      </p>
                      <p>{{updateObj.updatedDescription}}
                      </p>
                      <div class="ticketResponses">
                        <center>
                          <h4><b>Conversations</b></h4>
                          <center class="alert alert-danger" ng-if="noConversationMsg">{{noConversationMsg}}</center>
                        </center>
                        <div ng-repeat="replies in ticketFullDetails track by $index">
                            <div class="panelofcard">
                            <div class="row headerOfCard">
                            <div class="col-sm-6">
                                <p><b>From :</b> {{replies.from_email}} </p>
                            </div>
                            <div class="col-sm-6" style="border-left: 1.5px solid  #02b7bd">
                                <span><b>To : </b>
                                    <p ng-repeat="email in replies.to_emails">{{email}}</p></span>
                            </div>
                              </div>
                              <div style="margin:0 10px 0px 10px;">
                                  <p><b>Response</b></p>
                                  <p style="padding-bottom: 5px;">{{replies.body_text}}</p>
                                  <br>
                                  <p ng-if="replies.attachments.length > 0"><b>Attachments - </b><span ng-repeat="attch in replies.attachments">
                                      <a href="{{attch.attachment_url}}" target="_blank">Get the file here</a><br>
                                  </span></p>
                              </div>
                          </div><br>
                        </div>
                      </div>
                    </div>
                  </div><br>
                </div>
                </div>
          </div>
     </div>

	<div class="loader" ng-if="loaderIcon === true">
      <center><img src="images/Loading_2.gif" style="width: 12%;"></center>
    </div>

</div>