
<style>
  .crmAdminTableDataPadding{
    padding:10px 10px 10px 10px;
  }
</style>
<div class="container-fluid">
  <div class="panel-body">
    <div class="row">
      <!--<div class="col-sm-12 col-sm-12">-->
      <form name="dateForm" ng-submit="getHourWiseTeleCallerData(tcAppointment.selectedFromDate,tcAppointment.callerList.value)">
        <div class="form-group col-md-3 col-sm-4">
          <div class="form-group col-sm-11">
          <div class="crmDashboardFilterPanel">
            <input type="textbox" class="form-control crmDashboardFilterPanelBorder" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'FromDate')" ng-model="tcAppointment.selectedFromDate" is-open="isOpenFrom" placeholder="Date" required>
          </div>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-4">
          <div class="form-group col-sm-11">
            <div class="crmDashboardFilterPanel">
              <select class="form-control crmDashboardFilterPanelBorder" ng-model="tcAppointment.callerList.value" name="dateType"
                      ng-options="obj as obj.username for obj in callerList.values" ng-change="getCallerNmae(tcAppointment.callerList.value.username)">
                <option value="">Select Caller</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-2">
            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" id="filterButton" ng-click="teleCallingDataByDate(tcAppointment,'export')" ng-disabled="dateForm.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <!--  </div>-->
    </div>
    <div class="row crmAdminTableDataPadding">
      <div class="col-sm-12 col-sm-12">
        <center><label class="adminGraphLableStyle">Call Summary</label></center>
        <table class="table table-bordered table-striped table-responsive">
      <thead>
      <tr style="background-color: #0083ca;color:white;padding:0px 0px 0px 0px;">
        <th>Data Type</th>
        <th>Attempted </th>
        <th>Connected</th>
        <th>Appointment Booked</th>
        <th>Call Later</th>
        <th>Not Interested</th>
        <th>Service Done</th>
      </tr>

      </thead>
      <tbody>
      <center class="text-danger" ng-if="dataTypeStatsErrorMsg">{{dataTypeStatsErrorMsg}}</center>
      <tr ng-repeat="stats in dataTypeStats">
        <td class="info">{{stats.dataTypename}}
        <td>{{stats.attemptedCount}}</td>
        <td>{{stats.connectedCount}}</td>
        <td>{{stats.appointmentBooked}}</td>
        <td>{{stats.callLeterCount}}</td>
        <td>{{stats.notInterestedCount}}</td>
        <td>{{stats.serviceDone}}</td>
      </tr>
      <tr>
        <!--<th class="success">Total</th>-->
        <!--<td ng-repeat="stats in dataTypeStats">{{stats.notInterestedCount}}</td>-->
      </tr>

      </tbody>
    </table>
      </div>
    </div><br><br>

    <!--<div class="col-sm-12">
      <div class="text-center dashboardStatusGraphPanel">
        <div class="panel-body">
          <div class="dashbord_chart">
            <div id="serviceCentrePDGraph">
              <center><label class="adminGraphLableStyle">{{selectedCallerName}} Hour Wise Data</label></center>
              <div id="chartContainer" style="height: 300px; width: 100%;"></div><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="col-sm-12">
      <div class="text-center dashboardStatusGraphPanel">
        <div class="panel-body">
          <div class="dashbord_chart">
            <div id="serviceCentrePDGraph">
              <center><label class="adminGraphLableStyle">{{selectedCallerName}} Hour Wise Data</label></center>
             <!-- <canvas id="base" class="chart-horizontal-bar"
                      chart-data="callsCount" chart-labels="hourLables" >
              </canvas>-->
              <canvas id="line" class="chart-horizontal-bar adminPickAndWalkinGraphAlign" chart-data="callsCountData" height="100" chart-labels="hourLables" chart-series="calStatsSeries" chart-colors="calStatsColors" chart-options="options">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

<div class="loader" ng-if="loading">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
    <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 45px;"></span>--></center>
  <!--<center><p>LetsService - Please Wait</p></center>-->
</div>



