<style>
  .crmAdminTableDataPadding{
    padding:10px 10px 10px 10px;
  }
</style>
<div class="container-fluid">
  <div class="panel-body">
    <div class="row">
      <!--<div class="col-sm-12 col-sm-12">-->
      <form name="dateForm" ng-submit="getTeleCallerStatusDataByDate(tcAppointment)">
        <div class="form-group col-md-3 col-sm-4">
          <div class="form-group col-sm-11">
          <div class="crmDashboardFilterPanel">
            <input type="textbox" class="form-control crmDashboardFilterPanelBorder" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'FromDate')" ng-model="tcAppointment.selectedFromDate" is-open="isOpenFrom" placeholder="From Date" required>
          </div>
          </div>
        </div>
        <div class="form-group  col-md-3 col-sm-4">
          <div class="form-group col-sm-11">
          <div class="crmDashboardFilterPanel">
            <input type="textbox" class="form-control crmDashboardFilterPanelBorder" datetime-picker="yyyy-MM-dd" enable-time="false" ng-click="openCalendar($event,'ToDate')" ng-model="tcAppointment.selectedToDate" is-open="isOpenTo" placeholder="To Date" required>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-primary" id="filterButton" ng-click="teleCallingDataByDate(tcAppointment,'export')" ng-disabled="dateForm.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <!--  </div>-->
    </div>
    <div class="row crmAdminTableDataPadding">
      <div class="col-sm-12 col-sm-12">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
      <tr style="background-color: #0083ca;color:white;padding:0px 0px 0px 0px;">
        <th>Tele Caller Name</th>
        <th>Calls Made</th>
        <th> Pickup / Drop</th>
        <th> Walkin</th>
        <th> Call Later</th>
        <th> Not Interested</th>
        <th> Service Done</th>
        <th> Converted</th>
      </tr>
      </thead>
      <tbody>
      <center class="text-danger">{{teleCallerStatusErrorData}}</center>
      <tr ng-repeat="stats in teleCallerStatusData">
        <td>{{stats.callerName}}
        <td>{{stats.assigedData}}</td>
        <td>{{stats.pickAndDrop}}</td>
        <td>{{stats.walkIn}}</td>
        <td>{{stats.callLater}}</td>
        <td>{{stats.notInterested}}</td>
        <td>{{stats.serviceDone}}</td>
        <td>{{stats.conversions}}</td>
      </tr>
      </tbody>
    </table>
      </div>
    </div>

  </div>
</div>

<div class="loader" ng-if="loading">
  <center>
    <img src="images/Loading_2.gif" style="width: 12%;">
    <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 45px;"></span>--></center>
  <!--<center><p>LetsService - Please Wait</p></center>-->
</div>
